@using EA.Weee.Web.Areas.Scheme.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.DataReturns.IndexViewModel
@{
    ViewBag.Title = "Manage EEE/WEEE data";
}

@section main_content {
    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">Manage EEE/WEEE data</h1>
        </div>
    </header>

    <div>
        <h2 class="heading-medium">Files available for download</h2>
    </div>
    <div class="form-group">
        @{
            if (Model.ComplianceYears.Count > 0)
            {
                <ul>
                    @foreach (int complianceYear in Model.ComplianceYears)
                    {
                        var csvFileName = "Overview of current EEE and WEEE data for " + complianceYear + " (CSV, less than 25KB)";
                        <li>
                            @(this.WeeeGds().ActionLinkWithEventTracking(csvFileName,
                                Url.UrlFor<DataReturnsController>(c => c.DownloadEeeWeeeData(Model.OrganisationId, complianceYear)),
                                 "Data return downloads",
                                 "Overview of EEE and WEEE data",
                                 "Compliance year: " + complianceYear))
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>You have not yet submitted any data.</p>
            }
        }
    </div>

    <p>
        @Html.ActionLink("Upload data return", "Upload", null, new { @class = "button" })
    </p>

    <p>
        @Html.ActionLink("Perform another activity", "ChooseActivity", "Home")
    </p>
}
