@using EA.Weee.Web.RazorHelpers
@{
    ViewBag.Title = "Data Return Submitted";
}

@section main_content {
    <header class="hgroup">
        <div>
            <h1 class="heading-large">You have successfully submitted your XML file</h1>
        </div>
    </header>

    @using (Html.BeginForm("SignOut", "Account", new { Area = "" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <p>If you have finished performing tasks you can
        <span id="log-off-link"><noscript><input type="submit" value="sign out" /></noscript></span>
        or proceed to perform more activities.</p>
    }

    @Html.ActionLink("Perform another activity", "ChooseActivity", "Home", null, new { @class = "button" })

    <p>
        @this.WeeeGds().ActionLinkWithEventTracking(
            "What did you think of this service?",
            "Feedback",
            "NewUser",
            "Feedback",
            "Successful data return submission",
            "What did you think of this service?", new RouteValueDictionary { { "area", string.Empty } }, newTab: true)
        (takes 30 seconds)
    </p>
}

@section scripts {
    <script type="text/javascript">
        $("#log-off-link").html("<a href=\"#\" onclick=\"$(this).closest('form').submit();\">sign out</a>");
    </script>
}