@using EA.Weee.Web.Areas.Scheme.Controllers
@using EA.Weee.Web.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.DataReturns.SuccessfulSubmissionViewModel
@{
    ViewBag.Title = "Data Return Submitted";
}

@section main_content {
    <header class="hgroup">
        <div>
            <h1 class="heading-large">You have successfully submitted your XML file</h1>
        </div>
    </header>

    <p>To view your organisation’s latest data, <a href="@(Url.UrlFor<DataReturnsController>(c => c.Manage(Model.PcsId)))">manage EEE/WEEE data</a>.</p>

    @using (Html.BeginForm("SignOut", "Account", new { Area = "" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <p>If you have finished performing tasks you can <input type="submit" value="sign out" class="link-submit" /> or proceed to perform more activities.</p>
    }

    <p>
        @Html.ActionLink("Perform another activity", "ChooseActivity", "Home", null, new { @class = "button" })
    </p>

    <p>
        @(this.WeeeGds().ActionLinkWithEventTracking("What did you think of this service?",
            Url.UrlFor<NewUserController>(c => c.Feedback()),
            "Data return feedback",
            "Successful data return submission",
            "What did you think of this service?",
            newTab: true)) (takes 30 seconds)
    </p>
}