@using EA.Weee.Web.RazorHelpers
@using HomeController = EA.Weee.Web.Areas.Scheme.Controllers.HomeController
@using MvcNavigationHelpers

@model EA.Weee.Web.Areas.Aatf.ViewModels.SelectYourAatfViewModel
@{
    var title = "Which site would you like to manage evidence notes for?";
    ViewBag.Title = title + " - GOV.UK";
}

@section full_main_content
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            @(this.WeeeGds().BackLink(@Url.UrlFor<HomeController>(a => a.ChooseActivity(Model.OrganisationId))))

            <header class="hgroup">
                <h1 class="govuk-heading-l">
                    @title
                </h1>
            </header>
            <p class="govuk-body">
                There are currently no sites available for you to manage evidence notes for. The site(s) you are looking for may not be approved for the current compliance year.
            </p>

            <p class="govuk-body">
                Evidence notes for compliance years prior to 2023 are not stored in this service.
            </p>

            <p class="govuk-body">
                If you think you should be able to view one of your sites, contact your environmental regulator.
            </p>

            @(this.WeeeGds().CreateProgressiveDisclosure("How to contact your environmental regulator",
                    @Html.Partial("~/Areas/Aatf/Views/Shared/_ContactProgressiveDisclosure_AddressOnly.cshtml").ToString(),
                    "Hidden content",
                    "Progressive disclosure",
                    "How to contact your environmental regulator"))
        </div>
    </div>
}

