<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net452" />
  <package id="Autofac.Owin" version="4.2.0" targetFramework="net452" />
  <package id="Autofac.WebApi2" version="4.2.0" targetFramework="net452" />
  <package id="Autofac.WebApi2.Owin" version="4.0.0" targetFramework="net452" />
  <package id="AutoMapper" version="8.0.0" targetFramework="net462" />
  <package id="EA.Prsd.Core" version="1.0.18347-govuk-frontend1" targetFramework="net452" />
  <package id="EA.Prsd.Core.Autofac" version="1.0.18347-govuk-frontend1" targetFramework="net452" />
  <package id="EA.Prsd.Core.Web" version="1.0.16077-develop1" targetFramework="net452" />
  <package id="EA.Prsd.Email" version="1.0.18347-govuk-frontend1" targetFramework="net452" />
  <package id="elmah" version="1.2.2" targetFramework="net452" />
  <package id="Elmah.Contrib.WebApi" version="1.0.10.25" targetFramework="net452" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="IdentityModel" version="1.13.1" targetFramework="net452" />
  <package id="IdentityModel.Owin.ClaimsTransformation" version="1.0.0" targetFramework="net452" />
  <package id="IdentityServer3" version="2.6.3" targetFramework="net452" />
  <package id="IdentityServer3.AccessTokenValidation" version="2.14.0" targetFramework="net452" />
  <package id="IdentityServer3.EntityFramework" version="2.6.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft.IdentityModel.Logging" version="5.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.4.403061554" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Jwt" version="4.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net452" />
  <package id="Serilog" version="2.7.1" targetFramework="net452" requireReinstallation="true" />
  <package id="Serilog.Sinks.EventLog" version="3.1.0" targetFramework="net452" />
  <package id="StyleCop.Error.MSBuild" version="1.0.0" targetFramework="net452" />
  <package id="StyleCop.MSBuild" version="5.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.3.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" requireReinstallation="true" />
</packages>