@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model Guid?

@{
    var @title = "View organisation";
    ViewBag.Title = @title + " - GOV.UK";
}

@section full_main_content
{
    @(this.WeeeGds().BackLink(@Url.UrlFor<EA.Weee.Web.Areas.Scheme.Controllers.HomeController>(a => a.ChooseActivity(Model.Value))))

    <header class="hgroup">
        <h1 class="govuk-heading-l">@title</h1>
    </header>

}
