@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model Guid?

@{
    var @title = "Submit registration";
    ViewBag.Title = @title + " - GOV.UK";
}

@section full_main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">@title</h1>
    </header>

}
