$govuk-assets-path: "../content/govuk_frontend/assets/";
$govuk-images-path: "../content/govuk_frontend/assets/images/";
$govuk-fonts-path: "../content/govuk_frontend/assets/fonts/";

@import "govuk_frontend/package/all";
/*@import "govuk_frontend/package/tools/all";
@import "govuk_frontend/package/helpers/all";
@import "govuk_frontend/package/settings/all";
@import "govuk_frontend/package/components/footer/footer";
@import "govuk_frontend/package/core/all";
@import "govuk_frontend/package/components/input/input";*/

@import "weee/errors";

@import "weee/display-elements";

@import "weee/dialog";

@import "weee/summary";

@import "weee/helpers";

@import "weee/display-elements";

@import "weee/layout";

@import "weee/forms/form-validation";

@import "weee/tables";

@import "weee/dialog";

@import "weee/footer";

@import "weee/panels";

@import "jquery-autocomplete";

@import "weee/pagination";

@import "weee/button";

@import "weee/css3";

@import "weee/font_stack";
