@import "_main";

p {
    @extend .govuk-body;
}

a {
    @extend .govuk-link;
}

.unordered-list-xml {
    list-style: none;
    padding-left: 0px;
}

// Lists
.list-bullet {
    margin-bottom: ($govuk-gutter*1.5);
}

#global-cookie-message {
    width: 100%;
    background-color: #d5e8f3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hidden {
    display: none;
    visibility: hidden;
}

#global-header-bar, #global-cookie-message p {
    max-width: 960px;
    margin: 0 15px;
}

@media (min-width: 641px) {
    #global-cookie-message p {
        margin: 0 30px;
    }
}


@media (min-width: 1020px) {
    #global-cookie-message p {
        margin: 0 auto;
    }
}

#global-cookie-message p {
    font-family: $govuk-font-family;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    margin-top: 0;
    margin-bottom: 0;
}

.js-enabled #global-cookie-message {
    display: none;
}

th.sorted-ascending, th.sorted-descending {
    white-space: nowrap;
}

th.sorted-ascending:after {
    content: "\A0\A0\A0\A0\A0\A0";
    background-image: url(weee/images/sorted-ascending.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

th.sorted-descending:after {
    content: "\A0\A0\A0\A0\A0\A0";
    background-image: url(weee/images/sorted-descending.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

input[type="file"].form-control {
    border: 0px;
}

.related {
    border-top: 10px solid govuk-colour('blue');
    margin-top: 1.6em;

    .related-section {
        padding-right: 1em;

        .related-section-title {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    }
}


.hgroup {
    h2.subtitle {
        margin: 0;
        color: $govuk-secondary-text-colour;
        @include govuk-font(24);
    }

    margin-bottom: em(5, 3);
}

.account-link-banner {
    border-bottom: 1px solid $govuk-border-colour;

    .account-links {
        clear: both;
        margin: 2px 5px 0 5px;
        padding: 0;

        li {
            float: left;
            width: auto;
            padding: 3px 12px;

            a {
                @include govuk-font(16);
            }
        }

        li:first-child {
            font-weight: 600;
        }

        @media (min-width: 769px) {
            display: block;
            width: auto;
            padding: 0 15px 0 0;
            border-bottom: 0;
        }

        li.clear-child {
            clear: left;
        }
    }

    .account-links:after {
        content: "";
        display: block;
        clear: both;
    }
}




.validation-summary-errors {
}

.field-validation-valid {
    padding-bottom: 0;
    padding-top: 0;
}

.link-submit {
    background: none;
    border: none;
    padding: 0;
    color: govuk-colour('blue');
    font-family: $govuk-font-family;
    cursor: pointer;
    @include govuk-font(19);
    text-decoration: underline;
}

.link-submit:focus {
    color: #0b0c0c;
}

.link-submit div {
    position: relative;
    top: 0;
    left: 0;
    border: 0;
}

.link-submit:hover {
    color: #2E8ACA;
}

#link-sign-out {
    @include govuk-font(16);
}

.text-area {
    height: 200px;
}

.full-width {
    width: 100%;
}

.full-width-important {
    width: 100% !important;
}

.grid-view:last-child {
    float: none;
    margin-bottom: 10px;
}

.spinner-image {
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    display: none;
}


.warning-details-summary {
    color: govuk-colour('black') !important;
    width: calc(100% - 25px);
}

.error-details-summary {
    color: govuk-colour('black') !important;
    width: calc(100% - 25px);
}

.warning-details-summary:focus {
    background: #FFD990;
    /*outline: none;*/
    outline-width: 5px;
}

.warning-details-summary:hover {
    color: govuk-colour('black');
}

.warning-list-container {
    background-color: #FFD990;
    margin-left: -5px;
}

.error-list-container {
    background-color: #FDE3E6;
    margin-left: -5px;
}

.warning-list-container > ul {
    width: 100%;
    padding-left: 5px;
    margin: 0;
}

.error-list-container > ul {
    width: 100%;
    padding-left: 5px;
    margin: 0;
}

.warning-list-item {
    word-wrap: break-word;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    list-style: none;
}

.weee-upload-error {
    width: 100%;
    background-color: #ef9998;
    margin-bottom: 10px;
    padding-left: 5px;
}

.weee-upload-warning {
    width: 100%;
    background-color: #FFD990;
    margin-bottom: 10px;
    padding-left: 5px;
}

.weee-date-filter-width {
    width: 175px;
}

.weee-drop-down-filter-width {
    width: 190px;
}

.error-details-summary-title {
    color: govuk-colour('black');
}


.error-details-summary:focus {
    background: none !important;
    outline-width: 5px;
}

.error-details-summary:hover {
    color: govuk-colour('black');
    font-weight: bold;
}

.error-list-container {
    background-color: #FDE3E6;
    padding-left: 3px;
}

.error-list-container > ul {
    width: 100%;
    padding-left: 5px;
}

.error-list-item {
    padding-left: 5px;
    padding-top: 5px;
    word-wrap: break-word;
    padding-bottom: 5px;
    list-style: none;
}

.highlight-section {
    background-color: govuk-colour('turquoise');
    text-align: center;
}

.highlight-section-text {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 19px;
    color: govuk-colour('white');
    font-weight: 700;
}

.highlight-section-amount {
    white-space: nowrap;
    font-size: 48px;
    color: govuk-colour('white');
    font-weight: 700;
}

.username-title-display {
    text-align: right;
    padding: 5px;

    .username-format {
        font-weight: bold;
        color: govuk-colour('black');
    }

    @include govuk-font(16);
}

.breadcrumb-title-display {
    padding: 5px;

    .username-format {
        font-weight: bold;
        color: govuk-colour('black');
    }

    @include govuk-font(16);
}

// Used to right-align the registration numbers on the admin's find producer page.
.ui-autocomplete .ui-menu-item span.registrationNumber {
    float: right;
    font-family: monospace;
}

/*
	Items shown by jQuery UI autocomplete that are too long will be truncated with an ellipsis.
	See: http://stackoverflow.com/questions/17459422/jquery-autocomplete-no-word-wrap
*/
.ui-autocomplete .ui-menu-item {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-menu-item {
    font-family: $govuk-font-family;
}



.text-area {
    height: 200px;
}

.full-width {
    width: 100%;
}

#schemeBanner {
    margin-top: 3px;
    padding: 5px 10px;
    background: govuk-colour('light-grey');
    font-size: 16px;

    @include govuk-font(16);
}


.left-cleared {
    clear: left;
    margin-top: 0.26316em;
    margin-bottom: 0.85263em;
}

.text-margin {
    margin-left: 10px;
}

.marginRight {
    margin-right: 40px;
}

.govuk-heading-l {
    margin-top: 40px;
}

#main-content .govuk-heading-l {
    margin-top: 0px;
}

.btnDisable {
    display: none;
}


.collapsible-padding-right {
    padding-right: 0px;
}

.collapsible-font-size {
    font-size: 1.0rem;
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.filter {
    @include govuk-responsive-padding(4);
    border: 5px solid #fff;
    background-color: govuk-colour('light-grey');

    .govuk-label {
        font-weight: $govuk-font-weight-bold;
    }

    .govuk-checkboxes__input {
        border: 5px solid #fff;
        background-color: govuk-colour('light-grey');
    }

    .buttons {
        .govuk-button {
            margin: 0;
            background-color: govuk-colour('light-blue')
        }

        .cancel {
            background-color: govuk-colour('dark-grey')
        }

        margin-bottom: 0;
    }
}

.aatf-details-associated-table-cell {
    border-bottom: 0px;
    padding: 10px 0px 10px 0px
}

.aatf-details-associated-table-cell-title {
    border-bottom: 0px;
    padding: 10px 0px 0px 0px
}

.aatf-details-associated-table-header {
    border-bottom: 5px;
}

.aatf-details-associated-table-header-title {
    border-bottom: 0px;
}

.not-reported-option {
    word-break: normal;
    font-size: 1rem;
}

.not-reported-option-center {
    word-break: normal;
    text-align: center;
    font-size: 1rem;
}

.summary-paragraph {
    margin-bottom: 5px;
}

.summary-paragraph-align-right {
    text-align: right;
}


.tasklist-row {
    padding-bottom: 0 !important;
}

.not-reported-column {
    padding-right: 0;
}

input.tonnage-entry {
    float: right;
    text-align: right;
}

@media only screen and (max-width: 640px) {
    .weee-tonnage-right-aligned-display{
        text-align: left;
        word-break: normal;
        padding: 2px;
    }
}

.import-icon-error-upload {
    left: 10% !important;
}

@media only screen and (max-width: 860px) {
    .import-icon-error-upload {
        left: 5% !important;
    }
}

.govuk-phase-tag-override {
    background-color: #005ea5;
}

.weee-icon {
    position: relative;
    top: 35px;
    text-align: right;
    float: right;
    padding-right: 10px;
}

.govuk-panel-grey-background {
    background-color: govuk-colour("light-grey");
}

.weee-word-break {
    word-wrap: break-word;
}


.ui-datepicker-trigger {
    margin: 2px;
    padding: 0;
}

.offscreen {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

button.ui-datepicker-trigger {
    background-color: transparent !important;
    border: none !important;
    margin: auto !important;
    margin-left: -20px !important;
}

button.ui-datepicker-trigger:focus,
button.ui-datepicker-trigger:hover,
button.ui-datepicker-trigger:active {
    border: none !important;
    margin: auto !important;
    outline: 2px solid #8cc63f !important;
    background-color: #fdf6e7 !important;
    margin-left: -20px !important;
}

.weee-calendar-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-left: -20px !important;
}

.weee-span-as-cell {
    display: table-cell;
    word-break: break-word;
}

.weee-back-link{
    margin-top: 0px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#000 45%,#000 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%), linear-gradient(135deg, transparent 0%,transparent 43%,#000 45%,#000 55%,transparent 57%,transparent 100%);
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

input[type="search"][value="dark"]::-webkit-search-cancel-button {
    background: linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%), linear-gradient(135deg, transparent 0%,transparent 43%,#fff 45%,#fff 55%,transparent 57%,transparent 100%);
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
}