@import "main";

// ==========================================================================
// GOV.UK template styles
// ==========================================================================
// Override here until updated in the GOV.UK template

#global-header-bar {
    @extend %site-width-container;
}

#global-header-bar .inner-block {
    padding: 0;
}


// ==========================================================================
// Service Design Manual styles
// ==========================================================================

@import "service-design-manual/helpers/page-header";
@import "service-design-manual/helpers/breadcrumbs";

// Remove margins set by Service Design Manual header
#global-breadcrumb,
.page-header {
    margin-left: 0;
    margin-right: 0;
}

// ==========================================================================
// Elements page styles
// ==========================================================================

// These are example styles, used only for the Elements index page

// Headings
// Used with heading-large = 36px
.heading-with-border {
    border-top: 1px solid $border-colour;
    padding-top: em(45, 36);
}

// Use for paragraphs before lists
.lead-in {
    margin-bottom: 0;
}

// Lists
.list-bullet {
    margin-bottom: ($gutter*1.5);
}


// Example boxes
// ==========================================================================

.example {
    @extend %contain-floats;
    position: relative;
    overflow: hidden;
    border: 1px solid $grey-2;
    margin-top: $gutter-half;
    margin-bottom: $gutter*1.5;
    padding-top: $gutter;
    padding-right: $gutter-half;
    padding-bottom: $gutter-half;
    padding-left: $gutter-half;

    @include media(tablet) {
        padding-top: $gutter*1.5;
        padding-right: $gutter;
        padding-bottom: $gutter;
        padding-left: $gutter;
    }

    &:before {
        content: "EXAMPLE";
        position: absolute;
        top: 0;
        left: 0;
        padding: em(4) em(15) em(4) em(15);

        @include core-14;
        background: $grey-2;
        color: white;
    }
    // Blue text for heading sizes
    .highlight {
        font-style: normal;
        color: $hm-government;
    }
    // Fix grid layout within example boxes for IE7 and below
    // where box-sizing isn't supported: http://caniuse.com/#search=box-sizing
    @mixin example-box-column($width) {
        width: (($site-width - $gutter) * $width) - $gutter;
    }

    @include ie-lte(7) {
        // Set example box width to 900px (removing left and right padding)
        $example-box-width: $site-width - ($gutter * 2);
        width: $example-box-width;
        // Recalculate grid column widths
        .column-quarter {
            @include example-box-column( 1/4 );
        }

        .column-half {
            @include example-box-column( 1/2 );
        }

        .column-third {
            @include example-box-column( 1/3 );
        }

        .column-two-thirds {
            @include example-box-column( 2/3 );
        }
        // Scale images to fit grid columns
        img {
            width: 100%;
        }
    }
}


// 1. Layout
// ==========================================================================

.example-grid p {
    width: 100%;
    background: file-url("examples/grid.png") 0 0 repeat;
    margin-bottom: 0;
    height: 30px;

    @include media(tablet) {
        height: 60px;
    }

    overflow: hidden;
    text-indent: -999em;
}

// 2. Typography
// ==========================================================================


// 3. Colour
// ==========================================================================

// Colour swatches
.swatch {
    width: 60px;
    height: 60px;
    @include border-radius(100%);

    @include media(mobile) {
        clear: both;
        float: left;
        margin-right: $gutter-half;
        margin-bottom: $gutter-half;
    }

    @include media(tablet) {
        margin: 0 auto $gutter-half auto;
    }
}

// Sass list for colour palette
$palette: ( ("purple", $purple), ("mauve", $mauve), ("fuschia", $fuschia), ("pink", $pink), ("baby-pink", $baby-pink), ("red", $red), ("mellow-red", $mellow-red), ("orange", $orange), ("brown", $brown), ("yellow", $yellow), ("green", $green), ("grass-green", $grass-green), ("turquoise", $turquoise), ("light-blue", $light-blue) );

@mixin color-swatches {
    @each $color in $palette {
        $color-name: nth($color, 1);
        $color-var: nth($color, 2);

        .swatch-#{$color-name} {
            background-color: $color-var;
        }
    }
}

// Generate swatch classes for each colour in palette list
@include color-swatches;

.swatch-alpha {
    background-color: $alpha-colour;
}

.swatch-beta {
    background-color: $beta-colour;
}

.swatch-discovery {
    background-color: $discovery-colour;
}

.swatch-live {
    background-color: $live-colour;
}

.swatch-error {
    background-color: $error-colour;
}

.swatch-focus {
    background-color: $focus-colour;
}

.swatch-button-colour {
    background-color: $button-colour;
}

.swatch-black {
    background-color: $black;
}

.swatch-grey-1 {
    background-color: $grey-1;
}

.swatch-grey-2 {
    background-color: $grey-2;
}

.swatch-grey-3 {
    background-color: $grey-3;
}

.swatch-grey-4 {
    background-color: $grey-4;
}

.swatch-white {
    background-color: $white;
    border: 1px solid $grey-3;
}

.swatch-text-colour {
    background-color: $text-colour;
}

.swatch-text-secondary {
    background-color: $secondary-text-colour;
}

.swatch-page-colour {
    background-color: $page-colour;
    border: 1px solid $grey-3;
}

.swatch-button-colour {
    background-color: $button-colour;
}

.swatch-link-colour {
    background-color: $link-colour;
}

.swatch-link-colour-visited {
    background-color: $link-visited-colour;
}

.swatch-link-colour-hover {
    background-color: $link-hover-colour;
}

.swatch-border-colour {
    background-color: $border-colour;
}

.swatch-panel-colour {
    background-color: $panel-colour;
}

.swatch-highlight-colour {
    background-color: $highlight-colour;
}

// Colour swatch layout
.swatch-wrapper {
    @include media(tablet) {
        float: left;
        width: 20%;
        text-align: center;
    }

    .heading-small {
        margin-bottom: em(10);
    }

    ul {
        padding-bottom: $gutter-half;

        @include media(mobile) {
            min-height: 50px;
            padding-top: 10px;
        }
    }

    li {
        @include core-16;
    }

    b {
        font-weight: bold;
        text-transform: uppercase;
    }
}


// 4. Images and icons
// ==========================================================================

.example-images img {
    max-width: 100%;
    vertical-align: top;
}

th.sorted-ascending, th.sorted-descending {
	white-space: nowrap;
}

th.sorted-ascending:after {
	content: "\A0\A0\A0\A0\A0\A0";
	background-image: url(weee/images/sorted-ascending.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

th.sorted-descending:after {
	content: "\A0\A0\A0\A0\A0\A0";
	background-image: url(weee/images/sorted-descending.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
}


// 5. Data
// ==========================================================================

.data .bold-xlarge,
.data .bold-xxlarge {
    line-height: 0.8;
}

.example .data p {
    margin-bottom: 0;
}


// 6. Forms
// ==========================================================================

.progress-indicator {
    font-family: $NTA-Light;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    color: #6f777b;
    margin: 30px 0 15px;
}

input[type="file"].form-control {
	border: 0px;
}

// 7. Buttons
// ==========================================================================

// Increase spacing under buttons in example boxes
.example-button .button {
    margin-bottom: 15px;
}

// Remove top margin from "Creating buttons" example
.example-button .heading-small {
    margin-top: 0;
}

// Make swatch wrapper full width for "Creating buttons" example
.example-button .swatch-wrapper {
    width: 100%;
}

// Remove bottom padding to keep "Creating buttons" example
.example-button ul {
    padding-bottom: 0;
}


// 9. Alpha beta banners
// ==========================================================================

// Alpha
.phase-banner-alpha {
    @include phase-banner($state: alpha);
}

// Beta
.phase-banner-beta {
    @include phase-banner($state: beta);
}

// Related Content
// ==========================================================================

.related {
    border-top: 10px solid $govuk-blue;
    margin-top: 1.6em;

    .related-section {
        padding-right: 1em;

        .related-section-title {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }
    }
}

// Custom
// ==========================================================================

.hgroup {
    h2.subtitle {
        margin: 0;
        color: $secondary-text-colour;
        @include core-24;
    }

    margin-bottom: em(5, 3);
}

.account-link-banner {
    border-bottom: 1px solid $border-colour;

    .account-links {
        clear: both;
        margin: 2px 5px 0 5px;
        padding: 0;

        li {
            float: left;
            width: auto;
            padding: 3px 12px;

            a {
                @include core-16();
            }
        }

        li:first-child {
            font-weight: 600;
        }

        @media (min-width: 769px) {
            display: block;
            width: auto;
            padding: 0 15px 0 0;
            border-bottom: 0;
        }

        li.clear-child {
            clear: left;
        }
    }

    .account-links:after {
        content: "";
        display: block;
        clear: both;
    }
}

.return-link {
    margin-top: $gutter;
}

.table-divider {
    color: $border-colour;
}

.validation-summary-errors {
}

.field-validation-valid {
    padding-bottom: 0;
    padding-top: 0;
}

.link-submit {
    background: none;
    border: none;
    padding: 0;
    color: $govuk-blue;
    font-family: $NTA-Light;
    cursor: pointer;

    @include core-19;

    text-decoration: underline;
}

.link-submit:hover {
    color: #2E8ACA;
}

#link-sign-out {
    @include core-16;
}

.text-area {
    height: 200px;
}

.full-width {
    width: $full-width;
}

.grid-view:last-child {
    float: none;
    margin-bottom: 10px;
}

.two-thirds {
    width: $two-thirds;
}

.important-image {
    vertical-align: middle;
    margin-right: 20px;
}

.panel-indent-danger {
    clear: both;
    border-left: 4px solid red;
    padding: 10px;
    margin: 10px;
}

.panel-indent-warning {
    clear: both;
    border-left: 4px solid #ffd800;
    padding: 10px;
    margin: 10px;
}

.warning-details-summary {
    width: 100%;
    color: $black;
    background-color: $yellow-50;
    border-left: 3px solid $yellow;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
}

.warning-details-summary:hover {
    color: $black;
}

.warning-list-container {
    width: 100%;
    background-color: $yellow-25;
    padding-bottom: 10px;
    border-left: 3px solid $yellow-25;
    padding-left: 3px;
    margin-bottom:5px;
}

.warning-list-item {
    padding-left: 10px;
    padding-top: 10px;
    word-wrap: break-word;
    padding-bottom: 15px;
}

.error-details-summary {
    width: 100%;
    color: $black;
    background-color: $mellow-red-50;
    border-left: 3px solid $mellow-red;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
}

.error-details-summary:hover {
    color: $black;
}

.error-list-container {
    width: 100%;
    background-color: $mellow-red-25;
    padding-bottom: 10px;
    border-left: 3px solid $mellow-red-25;
    padding-left: 3px;
    margin-bottom:5px;
}

.error-list-item {
    padding-left: 10px;
    padding-top: 10px;
    word-wrap: break-word;
    padding-bottom: 15px;
}

.highlight-section {
    background-color: $turquoise;
    text-align: center;
}

.highlight-section-text {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 19px;
    color: $white;
    font-weight: 700;
}

.highlight-section-amount {
    white-space: nowrap;
    font-size: 48px;
    color: $white;
    font-weight: 700;
}

.username-title-display {
    text-align: right;
    padding: 5px;

    .username-format {
        font-weight: bold;
        color: $black;
    }
}

.breadcrumb-title-display {
    padding: 5px;

    .username-format {
        font-weight: bold;
        color: $black;
    }
}

// Used to right-align the registration numbers on the admin's find producer page.
.ui-autocomplete .ui-menu-item span.registrationNumber {
    float:right;
    font-family: monospace;
}

/*
	Items shown by jQuery UI autocomplete that are too long will be truncated with an ellipsis.
	See: http://stackoverflow.com/questions/17459422/jquery-autocomplete-no-word-wrap
*/
.ui-autocomplete .ui-menu-item {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grey-text {
    word-wrap: break-word;
    font-size: 16px;
    color: #6F777B;
    font-family: 'Arial Regular', 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
}
.black-text {
    word-wrap: break-word;
    font-size: 16px;
    color: #0B0C0C;
    font-family: 'Arial Regular', 'Arial';
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

/* Taken from http://www.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */

.hidden-for-screen-reader {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.text-area {
    height: 200px;
}

.full-width {
    width: $full-width;
}

.checkbox-inherit{
    position: inherit;
}

.checkbox-inherit input{
    position: inherit;
}

#schemeBanner {
	margin-top: 3px;
	padding: 5px 10px;
	background: $grey-3;
	font-size: 16px;
}

.secondaryHeaderContent {
	margin-top: 45px;
    margin-bottom: 20px;
}

.related-section-title {
    font-weight: 700;
    font-size: 19px;
}

.left-cleared {
    clear:left;
    margin-top: 0.26316em;
    margin-bottom: 0.85263em;
}

.text-margin{
    margin-left: 10px;
}