@using System.Globalization
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.DataReturnSubmissionHistoryViewModel
@{
    ViewBag.Title = "View Data Return Submission History";
}

<header class="hgroup">
    <h1 class="heading-large">
        Submission history
    </h1>
</header>

<p>
    <span class="font-bold">Submission type:</span> Data returns
</p>
@if (Model.Results.Any())
{
    <div class="form-group">
        @using (var tableBuilder = this.WeeeGds().TableBuilder(Model.Results, "Data returns submission history", new { id = "submissions" }))
        {
            tableBuilder.AddColumn("Data and time (GMT)", d => d.SubmissionDateTime.ToString("dd MMM yyyy h:mm tt", CultureInfo.InvariantCulture));
            tableBuilder.AddColumn("Compliance year", d => d.ComplianceYear);
            tableBuilder.AddColumn("Quarter reported", d => d.Quarter);
            tableBuilder.AddColumn("Submitted by", d => d.SubmittedBy);
            tableBuilder.AddColumn("File name", d => d.FileName);
        }
    </div>
}
else
{
    <div class="form-group">
        <p>There are no submissions to view.</p>
    </div>
}
<p>
    @Html.ActionLink("Perform another activity", "ChooseActivity", "Home", new { @area = "Scheme" }, new { @class = "button" })
</p>



