@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.Organisations
@model EA.Weee.Web.ViewModels.Shared.Scheme.ViewOrganisationDetailsViewModel
@{
    ViewBag.Title = "View organisation details";
}

@section main_content
{
    <header class="hgroup">
        @if (Model.OrganisationData.OrganisationType == OrganisationType.Partnership || Model.OrganisationData.OrganisationType == OrganisationType.SoleTraderOrIndividual)
        {
        <h1 class="govuk-heading-l">Principal place of business details</h1>
        }
        else
        {
        <h1 class="govuk-heading-l">Registered office details</h1>
        }
    </header>

    @using (Html.BeginForm(actionName: "ViewOrganisationDetails", controllerName: "Home", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.Partial("_ViewOrganisationDetails")

        @Html.Partial("_CompetentAuthoritiesContactDetails", new ViewDataDictionary { { "title", "Contact us to change your details" } })

        <div class="govuk-form-group">
            <button class="govuk-button" type="submit">Perform another activity</button>
        </div>
    }
}
