@{
    var title = "Are you sure you want to remove this submission?";
    ViewBag.Title = @title + " - GOV.UK";
}

@section full_main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">
            @title
        </h1>
    </header>
}