@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.Producers.ReturnedViewModel
@{
    var title = "Producer submission returned";
    ViewBag.Title = @title + " - GOV.UK";
}

@section main_content {

    <header class="hgroup">
        <h1 class="govuk-heading-l">@title</h1>
    </header>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.RegistrationNumber)

        <p class="govuk-body">You have successfully returned this producer submission. You will need to let them know they are now able to edit their submission.</p>

        @(this.WeeeGds().Submit("Continue"))
    }
}

