@{
    ViewBag.Title = "Account activation requested";
}

@section main_content
{
    <h1 class="govuk-heading-l">Account activation requested</h1>

    <p>We have sent you another email.</p>

    <p>
        @Html.ActionLink("Continue", "Signin", "Account", null, new { @class = "button" })
    </p>
}