@{
    ViewBag.Title = "User account activated";
}

<h2 class="govuk-heading-l">User account activated</h2>

<p>Your user account has been successfully activated.</p>

@Html.ActionLink("Continue", "SignIn", "Account", null, new { @class = "button" })