@section main_content {
    <h1 class="govuk-heading-l">
        Check your email inbox
    </h1>

    <p>
        We've sent your password reset instructions to @ViewBag.Email. Please use the link in the email to reset your password.
    </p>
    
    <p>
        If you can't see it, you may need to check your spam or junk folder. If you've not received it, you can
        @Html.ActionLink("request to reset your password", "ResetPasswordRequest") again.
    </p>

    <p>
        @Html.ActionLink("Continue", "SignIn", "Account", null, new { @class = "govuk-button" })
    </p>
}