@{
    ViewBag.Title = "Password reset request expired";
}

<h1 class="govuk-heading-l">You can't use this password reset link</h1>

<p>This may be because the link:</p>

<ul class="list-bullet">
    <li>has been used before</li>
    <li>was requested too long ago</li>
</ul>

<p>
    @Html.ActionLink("Request another email", "ResetPasswordRequest", "Account", null, new { @class = "govuk-button" })
</p>

<p>
    @Html.ActionLink("Sign in to your account", "SignIn", "Account")
</p>
