@{
    ViewBag.Title = "Password reset";
}

<h2 class="govuk-heading-l">Password reset</h2>

<p>Your password has been successfully reset.</p>

@Html.ActionLink("Continue", "SignIn", "Account", null, new { @class = "govuk-button" })
