@{
    ViewBag.Title = "Email verified";
}

<h2 class="heading-large">Email verified</h2>

<p>Your email has been verified successfully.</p>

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Continue", "Index", "Home", null, new { @class = "button" })
}
else
{
    @Html.ActionLink("Log in to continue using Waste Electrical and Electronic Equipment", "Login", "Account")
}
