@using EA.Weee.Core.Organisations
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.Views.Shared
@model EA.Weee.Web.Areas.Scheme.ViewModels.ViewOrganisationDetailsViewModel
@{
    ViewBag.Title = "View Organisation Details";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">Organisation details</h1>
    </header>

    @using (Html.BeginForm(actionName: "ViewOrganisationDetails", controllerName: "Home", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.EditorFor(m => m.OrganisationData)

        <div class="form-group">
            <button class="button" type="submit">Perform another activity</button>
        </div>
    }
}
