
@{
    ViewBag.Title = "Obligations Summary Holding";
}
<header class="hgroup">
    <div>
        <h1 class="govuk-heading-l">Obligations Summary Holding</h1>
    </div>
</header>
            
<p>
    @Html.ActionLink("Perform another activity", "Index", "Home", null, new { @class = "govuk-button" })
</p>