@{
    ViewBag.Title = "Upload members XML file";
}

<!--<link href="https://assets.digital.cabinet-office.gov.uk/static/static-e826b001509ad8acb5293bc8dfb7c7a9.css" media="screen" rel="stylesheet" type="text/css">-->

@section main_content {
    <header class="hgroup">
        <div>
            <h1 class="heading-large">Upload XML file</h1>
        </div>
    </header>

    <p>Changes to your member registration are made by uploading an XML file containing their details. The XML file needs to use the version 2.2 schema provided in the guidance link below.</p>
    <p>You can download your current members in XML format and make any changes, or you can upload an XML file of your own.</p>

    @using (Html.BeginForm("AddOrAmendMembers", "PCS", FormMethod.Post, new { id = "frmUpload", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(string.Empty, new { @class = "field-validation-error" })
        @Html.AntiForgeryToken()
        <p>
            <input type="file" name="file" />
        </p>
        <p>
            <input class="button" type="submit" name="submit" id="submitButton" value="Upload" />
        </p>
    }
    <ul class="list-bullet">
        <li>
            @Html.ActionLink(linkText: "Download guidance and XSD schema", actionName: "DownloadXMLTemplate", controllerName: "PCS")
        </li>
        <li>
            @Html.ActionLink(linkText: "Download current members as XML", actionName: "DownloadCurrentMembers", controllerName: "PCS")
        </li>
    </ul>
}