@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.Shared
@using EA.Weee.Web.Areas.Admin.Controllers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Admin.ViewModels.AddOrganisation.OrgAlreadyHasSchemeViewModel
@{
    ViewBag.Title = "Cannot add new PCS to this organisation - GOV.UK";
}


    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">Add new PCS</h1>
        </div>
    </header>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <div class="govuk-form-group">
            <p>This organisation already operates a PCS, it's not possible to add another PCS to the same organisation.</p>
        </div>

        <p>
            <a class="govuk-button" href="@(Url.UrlFor<SchemeController>(u => u.ManageSchemes()))">Continue</a>
        </p>
        <p>
            <a href="@(Url.UrlFor<AddOrganisationController>(u => u.SearchResults(Model.SearchTerm, EntityType.Pcs)))">Back</a>
        </p>
    }

