@model EA.Weee.Web.ViewModels.NotificationApplication.CompetentAuthorityChoiceViewModel
@{
    ViewBag.Title = "Which Competent Authority";
}

@using (Html.BeginForm(actionName: "CompetentAuthority", controllerName: "NotificationApplication", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <header class="hgroup">
        <h2 class="heading-large">Which competent authority are you applying to?</h2>
        <p>Select the competent authority for the country you are exporting waste from:</p>
    </header>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.CompetentAuthorities.SelectedValue)">
            @Html.EditorFor(m => m.CompetentAuthorities)
    </div>

    <div class="form-group">
        <button class="button" type="submit">Continue</button>
    </div>
}


