@model EA.Weee.Web.ViewModels.NotificationApplication.CreatedViewModel
@{
    ViewBag.Title = "Notification Application Created";
}

@using (Html.BeginForm("Created", "NotificationApplication", FormMethod.Post))
{
    <header class="hgroup">
        <h2 class="heading-large">Your notification number</h2>
        <p>Here is your notification number:</p>
    </header>
    <div class="panel-indent">
        <h2 class="heading-large">
            @Html.DisplayFor(m => m.NotificationNumber)
        </h2>
    </div>
    @Html.HiddenFor(m => m.NotificationId)
    <div class="form-group">
        <p>
            Your unique notification number has been automatically saved.
        </p>
        <p>
            You can return to this saved notification at any time.
        </p>
    </div>

    <div>
        <p>Please @Html.ActionLink("download your application document", "GenerateNotificationDocument", new { id = Model.NotificationId }) and complete it.</p>
        <br />
    </div>
    <div class="form-group">
        <button class="button" type="submit">Continue</button>
    </div>
}
