<h1>Activate your user account</h1>

<p>Your user account has been created on the Waste Electrical and Electronic Equipment service.</p>

<p>
    To use this service, you need to <a href="@Model.VerifyLink">activate your account.</a>
</p>

<p>If you didn’t create a user account you don’t need to take any action.</p>

<p>WEEE Team</p>