@{
    ViewBag.Title = "Manage Cache";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">
            Cache Cleared
        </h1>
    </header>

    <p>
        @Html.ActionLink("Continue", "Index", "Home", null, new { @class = "govuk-button" })
    </p>
}