@using EA.Weee.Web.RazorHelpers
@{
    ViewBag.Title = "Manage Cache";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">
            Manage Cache
        </h1>
    </header>

    <p>Use this page to clear the cache of producer search results.</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @(this.WeeeGds().Submit("Continue", new { @class = "button" }))
    }
}