@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Areas.Admin.ViewModels.ManageEvidenceNotes
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@using EA.Weee.Web.Areas.Admin.ViewModels.Shared
@using EA.Weee.Web.Areas.Admin.Controllers

@model ManageEvidenceNotesViewModel
@{
    var title = "Manage evidence notes";
    ViewBag.Title = title + " - GOV.UK";
}

@(this.WeeeGds().BackLink(@Url.UrlFor<HomeController>(a => a.Index())))

<header class="hgroup">
    <h1 class="govuk-heading-l">
        @title
    </h1>
</header>

<ul class="govuk-tabs__list govuk-!-padding-top-5">
    @this.WeeeGds().Tab("View all evidence notes",
        Url.Action("Index", "ManageEvidenceNotes",
            new { @tab = ManageEvidenceNotesTabDisplayOptions.ViewAllEvidenceNotes.ToDisplayString() }),
        Model.ActiveDisplayOption == ManageEvidenceNotesTabDisplayOptions.ViewAllEvidenceNotes, "viewAllEvidenceNotes")

    @this.WeeeGds().Tab("View all evidence transfers",
        Url.Action("Index", "ManageEvidenceNotes",
            new { @tab = ManageEvidenceNotesTabDisplayOptions.ViewAllEvidenceTransfers.ToDisplayString() }),
        Model.ActiveDisplayOption == ManageEvidenceNotesTabDisplayOptions.ViewAllEvidenceTransfers, "viewAllEvidenceTransfers")
</ul>