<tr>
    <td colspan="6">
        <p class="govuk-body">There are currently no evidence transfers to view</p>
    </td>
</tr>
<tr>
    <td>
        <p class="govuk-body"> Showing 0 - 0 of 0 </p>
    </td>
</tr>
