@using EA.Weee.Web.RazorHelpers

@{
    ViewBag.Title = "Removed Producer";
}

@section main_content {

    <header class="hgroup">
        <h1 class="heading-large">Producer removed from PCS</h1>
    </header>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        <p>You have successfully removed the producer from 'A WEEE Scheme' for 2016.</p>

        @(this.WeeeGds().Submit("Continue", new { @class = "button" }))
    }
}

