@model EA.Weee.Web.ViewModels.JoinOrganisation.JoinOrganisationViewModel

@{
    ViewBag.Title = "Join Organisation";
}

@section main_content {
    <header class="hgroup">
        <h1 class="heading-large">
            Confirm your organisation joining request
        </h1>
    </header>
    <p>A request to join this organisation will be sent to their administrator.</p>
    <p>If you do not wish to join this organisation, you can go back and search for a different one.</p>

    @using (Html.BeginForm(actionName: "JoinOrganisation", controllerName: "OrganisationRegistration", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group @Html.Gds().FormGroupClass(m => m.JoinOrganisationOptions.SelectedValue)" id="JoinOrganisationOptions">
            @Html.EditorFor(m => m.JoinOrganisationOptions)
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="Send request" />
        </div>
    }
}
