@model EA.Weee.Web.ViewModels.OrganisationRegistration.NotFoundOrganisationViewModel
@{
    ViewBag.Title = "Not Found Organisation";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">
            No results found
        </h1>
    </header>

    <p>We found no search results for '@Model.Name'.</p>

    <div class="form-group">
        <p>@Html.ActionLink("Create a new organisation", "Type", "OrganisationRegistration", new { searchedText = @Model.SearchedText }, new { @class = "button" })</p>
    </div>

    <p>
        @Html.ActionLink("Start new search", "SearchOrganisation", "OrganisationRegistration")
    </p>
}


