@model EA.Weee.Web.ViewModels.Shared.AddressViewModel
@{
    ViewBag.Title = "Organisation contact details";
}
@section main_content
    {
    <header class="hgroup">
        <h1 class="heading-large">
            How can we get in touch with your main contact person?
        </h1>
    </header>
    
    <div style="margin-bottom: 1.66667em;">
        <p>We need the contact details for your nominated day-to-day contact person.</p>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        @Html.EditorFor(m => m.Address)

        <div class="form-group">
            <input id="continue" type="submit" class="button" value="Continue" />
        </div>
    }
}

@section scripts{
    <script>
        (function ($) {
            $(function () {
                $("#Address\\.CountryId").selectToAutocomplete();
            });
        })(jQuery);

        $(document).ready(function () {
            /* Only when a validation error occurs for a select list - 
                move the id from the select element to the next input element so the validation summary can link to it */
            var countryElementId = "#Address\\.CountryId";

            if ($(countryElementId).hasClass("input-validation-error")) {
                $(countryElementId).attr("name", "Address.CountryIds"); // Bug Fix - anchor doesn't work in IE if name is same as ID
                var validationInput = $(countryElementId).next("input");
                if (validationInput.length) {
                    $(countryElementId).removeAttr("id");
                    validationInput.attr("id", "Address.CountryId");
                }
            }
        });
    </script>
}
