@model EA.Weee.Web.ViewModels.Shared.AddressViewModel
@{
    ViewBag.Title = "Organisation contact details";
}
@section main_content
    {
    <header class="hgroup">
        <h1 class="heading-large">
            Organisation contact details
        </h1>
    </header>

    @using (Html.BeginForm("OrganisationAddress", "OrganisationRegistration", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)

        @Html.EditorFor(m => m.Address)

        <div class="form-group">
            <input id="continue" type="submit" class="button" value="Continue" />
        </div>
    }
}

@section scripts{
    <script>
        (function ($) {
            $(function () {
                $("#Address\\.CountryId").selectToAutocomplete();
            });
        })(jQuery);

        $(document).ready(function () {
            /* Only when a validation error occurs for a select list - 
                move the id from the select element to the next input element so the validation summary can link to it */
            var countryElementId = "#Address\\.CountryId";

            if ($(countryElementId).hasClass("input-validation-error")) {
                var validationInput = $(countryElementId).next("input");
                if (validationInput.length) {
                    $(countryElementId).removeAttr("id");
                    validationInput.attr("id", "Address.CountryId");
                }
            }
        });
    </script>
}
