@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Controllers
@using EA.Weee.Web.RazorHelpers
@model Guid?
@{
    const string title = "Your organisation has been created";
    ViewBag.Title = title + " - GOV.UK";
}
@section full_main_content
{
    @using (Html.BeginForm("RegistrationCompleteSubmit", typeof(OrganisationRegistrationController).GetControllerName(), new { organisationId = Model }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <header class="hgroup">
            <h1 class="govuk-heading-l">
                @title
            </h1>
        </header>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p>You will need to register as a small producer of EEE for this year.</p>

        <div class="govuk-form-group">
            @(this.WeeeGds().Submit("Check and complete your registration application"))
        </div>
    }
}


