@using EA.Weee.Web.Controllers
@using EA.Weee.Core.Helpers
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Core.Organisations.RepresentingCompanyDetailsViewModel
@{
    const string title = "Producer details";
    ViewBag.Title = title + " - GOV.UK";
}
@section full_main_content
{
    @{
        var urlHelper = new UrlHelper(Request.RequestContext);
        var url = urlHelper.Action(nameof(OrganisationRegistrationController.RepresentingCompanyRedirect), typeof(OrganisationRegistrationController).GetControllerName(),
            new { returnUrl = ViewBag.ReturnUrl });
    }

    @this.WeeeGds().BackLink(url)

    <header class="hgroup">
        <h1 class="govuk-heading-l">@title</h1>
    </header>

    @Html.Partial("_RepresentingCompanyPartial", Model)
}
