@{
    ViewBag.Title = "Review Organisation Details";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">Check the information you have provided before creating your organisation</h1>
    </header>

    @using (Html.BeginForm(actionName: "ConfirmOrganisationDetails", controllerName: "OrganisationRegistration", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

            <!-- //////////// Main Accordion /////////////// -->
        <section id="form-summary" role="main">
            <div class="overview-summary">
                <!-- //////////// About-your-organisation /////////////// -->
                <details role="group">
                    <summary role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="false">
                        <h3 title="About-your-organisation">About your organisation</h3>
                        @*<a href="" title="Edit">Edit</a>*@
                    </summary>
                    <div class="form-detail-cont" id="details-content-0" aria-hidden="true" style="display: block;">
                        <!-- ///// Info Divider/Header //// -->
                        <h4>Form Information</h4>
                        <!-- ///// Section //// -->
                        <div class="grid-row form-detail">
                            <span class="column-third">
                                Company name
                            </span>
                            <span class="column-two-thirds">
                                AnyMajorCompany Ltd.
                            </span>
                        </div>
                        <!-- ///// Section //// -->
                        <div class="grid-row form-detail">
                            <span class="column-third">
                                Address
                            </span>
                            <span class="column-two-thirds">
                                Knutsford Road<br>
                                Latchford<br>
                                Warrington<br>
                                Cheshire<br>
                                WA4 1HT<br>
                            </span>
                        </div>
                        <!-- ///// Section //// -->
                        <div class="grid-row form-detail">
                            <span class="column-third">Telephone</span>
                            <span class="column-two-thirds">07986 444 666</span>
                        </div>
                    </div>
                </details>

                <!-- //////////// The-main-contact-for-your-organisation /////////////// -->
                <details role="group">
                    <summary role="button" aria-controls="details-content-2" tabindex="0" aria-expanded="false">
                        <h3 title="The-main-contact-for-your-organisation">The main contact for your organisation</h3>
                        @*<a href="" title="Edit">Edit</a>*@
                    </summary>
                    <div class="form-detail-cont" id="details-content-2" aria-hidden="true" style="display: block;">
                        <!-- ///// Info Divider/Header //// -->
                        <h4>Form Information</h4>
                        <!-- ///// Section //// -->
                        <div class="grid-row form-detail">
                            <span class="column-third">
                                Company name
                            </span>
                            <span class="column-two-thirds">
                                AnyMajorCompany Ltd.
                            </span>
                        </div>
                        <!-- ///// Section //// -->
                        <div class="grid-row form-detail">
                            <span class="column-third">
                                Address
                            </span>
                            <span class="column-two-thirds">
                                Knutsford Road<br>
                                Latchford<br>
                                Warrington<br>
                                Cheshire<br>
                                WA4 1HT<br>
                            </span>
                        </div>
                        <!-- ///// Section //// -->
                        <div class="grid-row form-detail">
                            <span class="column-third">Telephone</span>
                            <span class="column-two-thirds">07986 444 666</span>
                        </div>
                    </div>
                </details>

                <!-- //////////// Your-organisation-details /////////////// -->
                <details role="group">
                    <summary role="button" aria-controls="details-content-3" tabindex="0" aria-expanded="false">
                        <h3 title="Your-organisation-details">Your organisation details</h3>
                        @*<a href="" title="Edit">Edit</a>*@
                    </summary>
                    <div class="form-detail-cont" id="details-content-3" aria-hidden="true" style="display: block;">
                        <!-- ///// Info Divider/Header //// -->
                        <h4>Form Information</h4>
                        <!-- ///// Section //// -->
                        <div class="grid-row form-detail">
                            <span class="column-third">
                                Company name
                            </span>
                            <span class="column-two-thirds">
                                AnyMajorCompany Ltd.
                            </span>
                        </div>
                        <!-- ///// Section //// -->
                        <div class="grid-row form-detail">
                            <span class="column-third">
                                Address
                            </span>
                            <span class="column-two-thirds">
                                Knutsford Road<br>
                                Latchford<br>
                                Warrington<br>
                                Cheshire<br>
                                WA4 1HT<br>
                            </span>
                        </div>
                        <!-- ///// Section //// -->
                        <div class="grid-row form-detail">
                            <span class="column-third">Telephone</span>
                            <span class="column-two-thirds">07986 444 666</span>
                        </div>
                    </div>
                </details>

                <!-- //////////// Your-principal-place-of-business or Your-registered-company /////////////// -->
                <details role="group">
                    <summary role="button" aria-controls="details-content-4" tabindex="0" aria-expanded="false">
                        <h3 title="Your-principal-place-of-business">Your principal place of business</h3>
                        @*<a href="" title="Edit">Edit</a>*@
                    </summary>
                    <div class="form-detail-cont" id="details-content-4" aria-hidden="true" style="display: block;">
                        <!-- ///// Info Divider/Header //// -->
                        <h4>Form Information</h4>
                        <!-- ///// Section //// -->
                        <div class="grid-row form-detail">
                            <span class="column-third">
                                Company name
                            </span>
                            <span class="column-two-thirds">
                                AnyMajorCompany Ltd.
                            </span>
                        </div>
                        <!-- ///// Section //// -->
                        <div class="grid-row form-detail">
                            <span class="column-third">
                                Address
                            </span>
                            <span class="column-two-thirds">
                                Knutsford Road<br>
                                Latchford<br>
                                Warrington<br>
                                Cheshire<br>
                                WA4 1HT<br>
                            </span>
                        </div>
                        <!-- ///// Section //// -->
                        <div class="grid-row form-detail">
                            <span class="column-third">Telephone</span>
                            <span class="column-two-thirds">07986 444 666</span>
                        </div>
                    </div>
                </details>
            </div>

            <div class="form-group">
                <input type="submit" class="button" value="Create organisation" />
            </div>
        </section>
    }
}

