@model EA.Weee.Web.ViewModels.OrganisationRegistration.Details.RegisteredCompanyDetailsViewModel
@{
    ViewBag.Title = "Search organisation";
}
@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">Let's try and find the organisation for you...</h1>
    </header>
    <div style="margin-bottom: 1.66667em;">
        <p>Enter the organisation name and search for a matching organisation</p>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <div class="form-group @Html.Gds().FormGroupClass(m => m.BusinessTradingName)">
            @Html.Gds().TextBoxFor(m => m.BusinessTradingName, new { @maxlength = "2048" })
        </div>

        <div class="form-group">
            <button class="button" type="submit">Continue</button>
        </div>
    }
}
