@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.SelectReportOptionsViewModel
@{
    ViewBag.Title = "AATF Return";
}

<section id="main-content">
    <h1 class="govuk-heading-l">What do you need to report on?</h1>
    <div class="govuk-!-padding-bottom-5"></div>
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="obligated-weee-received-check" name="obligated-weee-received-check" type="checkbox" value="yes">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-24" for="obligated-weee-received-check">
                        Obligated WEEE received on behalf of producer compliance schemes (PCSs)
                        <p class="govuk-body govuk-!-font-size-16" style="padding-top:10px; color: gray;">
                            This is WEEE from designated collection facilities (DCFs), distributors and final holders which a PCS has arranged for you to treat.
                        </p>
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="obligated-weee-sent-on-check" name="obligated-weee-sent-on-check" type="checkbox" value="yes">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-24" for="obligated-weee-sent-on-check">
                        WEEE sent to another AATF or ATF for treatment
                        <p class="govuk-body govuk-!-font-size-16" style="padding-top:10px; color: gray;">
                            This is WEEE that you received at your AATF(s) which you have not treated and was sent on for treatment elsewhere.
                        </p>
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="obligated-weee-reused-check" name="obligated-weee-reused-check" type="checkbox" value="yes">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-24" for="obligated-weee-reused-check">
                        WEEE reused as a whole appliance
                        <p class="govuk-body govuk-!-font-size-16" style="padding-top:10px; color: gray;">
                            This is WEEE that has been refurbished or repaired to the point it is no longer waste.
                        </p>
                    </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="non-obligated-check" name="non-obligated-check" type="checkbox" value="yes">
                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-24" for="non-obligated-check">
                        Non-obligated WEEE
                        <p class="govuk-body govuk-!-font-size-16" style="padding-top:10px; color: gray;">
                            This is WEEE that you received at your AATF(s) other than from or on behalf of a PCS.
                            It should not include WEEE that has already been reported by another AATF(s).
                        </p>
                    </label>
                </div>
                <div id="dcfsection" style="border-left: 5px solid rgb(191, 193, 195); padding-left: 10px; margin-left: 40px;">
                    <h3 class="govuk-heading-m govuk-!-font-size-24" style="font-weight: normal;">
                        Was any of this non-obligated WEEE received on behalf of a DCF?
                    </h3>
                    <p class="govuk-body govuk-!-font-size-16" style="color: gray;">
                        This is WEEE that a local authority who is a DCF operator has been allowed to keep under regulation 53 and has sent to you for treatment.
                    </p>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-radios govuk-radios--inline">
                                <div class="govuk-radios__item">

                                    <input class="govuk-radios__input" id="dcfoption-yes" name="dcfoption" type="radio"
                                           value="yes">

                                    <label class="govuk-label govuk-radios__label" for="dcfoption-yes">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="dcfoption-no" name="dcfoption" type="radio"
                                           value="no">
                                    <label class="govuk-label govuk-radios__label" for="dcfoption-no">
                                        No
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</section>