@{
    ViewBag.Title = "Account activation requested";
}

@section main_content
{
    <h2 class="govuk-heading-l">Account activation requested</h2>

    <p>We have sent you another email.</p>

    <p>
        @Html.ActionLink("Continue", "Index", "Home", new { Area = "Admin" }, new { @class = "button" })
    </p>
}