@{
    ViewBag.Title = "Password reset request expired";
}

<h2 class="govuk-heading-l">Your request to reset your password has expired</h2>

<p>
    @Html.ActionLink("Request another email", "ResetPasswordRequest", "Account", null, new { @class = "govuk-button" })
</p>
