@{
    Page.Title = "Access Denied";
    Response.StatusCode = 403;
}


<h1 class="heading-large">Access Denied</h1>

<p>Sorry, you are not authorised to access this page.</p>

<h2 class="heading-medium">What now?</h2>
<p><a href="/">Return to the home page.</a></p>
