@{
    Page.Title = "Server Error";
}

<h1 class="heading-large">
    Sorry, we are experiencing technical problems
</h1>

<p>Please try again in a few moments.</p>

<div class="form-group">
    <details>
        <summary><span class="summary">If you continue to see this message, contact us.</span></summary>
        <div class="panel-indent">
            @Html.Partial("_CompetentAuthoritiesContactDetails")
        </div>
    </details>
</div>

<p><a href="/" class="button">Continue</a></p>