@{
    Page.Title = "Server Error";
}

<h1 class="govuk-heading-l">
    Sorry, we are experiencing technical problems
</h1>

<p>Please try again in a few moments.</p>

@Html.Partial("_CompetentAuthoritiesContactDetails", new ViewDataDictionary { { "title", "If you continue to see this message, contact us." } })

<p>
    <a href="@Url.Action("ErrorRedirect", "Errors", new { area = ""})" class="govuk-button">Continue</a>
</p>