@{
    Page.Title = "Internal Server Error";
    Response.TrySkipIisCustomErrors = true;
    Response.StatusCode = 500;
}

<h1 class="heading-large">
    Sorry, an error occurred while processing your request.
</h1>

<p>You might be here because:</p>

<ul class="list-bullet text">
    <li>There is an error on our server.</li>
    <li>The system is unavailable.</li>
</ul>

<p>
    We have logged the error and we will look into it to make sure it doesn’t happen again. However if you keep
    seeing this page please send your <a href="#">
        feedback
    </a> to help us improve the service.
</p>

<h2 class="heading-medium">What now?</h2>
<p><a href="/">Return to the home page.</a></p>