@{
    Page.Title = "Page Not Found";
    var errorPath = Request.QueryString["aspxerrorpath"];
    if (String.IsNullOrEmpty(errorPath))
    {
        errorPath = Request.RawUrl;
    }
    errorPath = Path.GetFileNameWithoutExtension(errorPath);
    Response.TrySkipIisCustomErrors = true;
    Response.StatusCode = 404;
}

<h1 class="heading-large">This page cannot be found</h1>

<p>You might be here because:</p>

<ul class="list-bullet text">
    <li>The page you are looking for does not exist anymore.</li>
    <li>We moved the page that you are looking for. Sorry!</li>
</ul>

<p><a href="/" class="button">Continue</a></p>