@using EA.Weee.Web.RazorHelpers
@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.Helpers
@using MvcNavigationHelpers
@using EA.Weee.Web.Areas.Scheme.Controllers
@using EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes

@model EA.Weee.Web.Areas.Scheme.ViewModels.TransferEvidenceNoteCategoriesViewModel

@{
    ViewBag.Title = "Transfer evidence - GOV.UK";
}

@section full_main_content
{
    @(this.WeeeGds().BackLink(Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(Model.OrganisationId, ManageEvidenceNotesDisplayOptions.ViewAndTransferEvidence.ToDisplayString(), null))))

    <h1 class="govuk-heading-l">
        Transfer evidence to another scheme
    </h1>

    @Html.Gds().ValidationSummary()

    @using (Html.BeginForm(actionName: "TransferEvidenceNote", controllerName: "TransferEvidence", method: FormMethod.Post))
    {
        @Html.HiddenFor(m => m.SelectedComplianceYear, Model.SelectedComplianceYear)

        { Html.RenderPartial("~/Areas/Scheme/Views/Shared/_TransferCategoriesPartial.cshtml", Model); }
    }
}
