
@using EA.Weee.Web.RazorHelpers
@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Areas.Scheme.ViewModels
@using EA.Weee.Web.ViewModels.Shared
@model EA.Weee.Web.Areas.Scheme.ViewModels.TransferEvidenceTonnageViewModel
@{
    ViewBag.Title = "Transfer tonnage - GOV.UK";
}

@section full_main_content
{
    @Html.Gds().ValidationSummary()
    <h1 class="govuk-heading-l">
        Transfer tonnage to @Model.RecipientName from selected evidence notes
    </h1>


    @using (Html.BeginForm(actionName: "TransferTonnage", controllerName: "TransferEvidence", method: FormMethod.Get, htmlAttributes: new Dictionary<string, object>() { { "id", "TransferEvidenceForm" } }))
    {
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-body">Choose the tonnage that you would like to transfer from each category, for each evidence note that you have selected</legend>
            <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    @{
                        var selectedOption = Model.TransferAllTonnage ? "checked" : "";
                    }
                    <input class="govuk-checkboxes__input" id="TransferAllTonnage" name="TransferAllTonnage" type="checkbox" value="true" @selectedOption>
                    @Html.LabelFor(m => m.TransferAllTonnage, new { @class = "govuk-label govuk-checkboxes__label" })
                </div>
            </div>
        </fieldset>

        <div class="govuk-!-margin-top-3">
            <div class="govuk-button-group">
                <noscript>
                    @this.WeeeGds().Button("Copy tonnage", new { id = "copy-tonnage-button", @class = "govuk-!-width-one-quarter" })
                </noscript>
            </div>
        </div>
    }

    @{ Html.RenderPartial("~/Areas/Scheme/Views/Shared/_TransferTonnagesPartial.cshtml", Model, new ViewDataDictionary() { { "action", "TransferTonnage" }, { "controller", "TransferEvidence" } }); }

}

