
@using EA.Weee.Web.RazorHelpers
@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.TransferEvidenceTonnageViewModel
@{
    ViewBag.Title = "Transfer tonnage - GOV.UK";
}

@section full_main_content
{
    @using (Html.BeginForm(actionName: "TransferTonnage", controllerName: "TransferEvidence", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <h1 class="govuk-heading-l">
            Transfer tonnage to @Model.RecipientName from selected evidence notes
        </h1>
        <p>Choose the tonnage that you would like to transfer from each category, for each evidence note that you have selected</p>
        <div class="govuk-!-margin-top-3">
            <div class="govuk-button-group">
                @this.WeeeGds().Button("Continue", new { id = "transfer-from-btn", @class = "govuk-!-width-one-quarter" })
            </div>
        </div>
    }
}
