@model EA.Weee.Web.ViewModels.TemporaryXmlTest.TestViewingUploadViewModel
@{
    ViewBag.Title = "TestViewingUpload";
}

<style type="text/css">
    .panel-indent-danger {
        clear: both;
        border-left: 4px solid red;
        padding: 10px;
    }

    .panel-indent-warning {
        clear: both;
        border-left: 4px solid #ffd800;
        padding: 10px;
    }

    .panel-indent-info {
        clear: both;
        border-left: 4px solid #4856A6;
        padding: 10px;
    }
</style>

@section main_content {
    <header class="hgroup">
        <div>
            <h1 class="heading-large">XML validation warnings / errors</h1>
        </div>
    </header>

    @foreach (KeyValuePair<string, string> error in Model.ErrorsWithLevels)
    {
        var errorClass = "panel-indent-info";
        
        if (error.Key == "Warning") { errorClass = "panel-indent-warning"; }
        if (error.Key == "Error")   { errorClass = "panel-indent-danger"; }
        
        <div class="@errorClass">
            <div class="alert alert-danger" role="alert">
                <strong>@error.Key.ToUpperInvariant(): </strong>@error.Value
            </div>
        </div>
    }

    @if (Model.ErrorsWithLevels == null || Model.ErrorsWithLevels.Count == 0)
    {
        <div class="panel-indent-info">
            <div class="alert alert-danger" role="alert">
                <strong>INFO: </strong>No warnings or errors.
            </div>
        </div>
    }
}
