@{
    ViewBag.Title = "ContactProgressiveDisclosure";
}

<div class="govuk-details__text" id="details-content" aria-hidden="true">
    <div class="govuk-body govuk-!-font-size-16">
        Contact your environmental regulator<br><br>
        <b>England</b><br>
        Environment Agency<br>
        Producer Responsibility Regulatroy Services<br>
        Telephone: 03708 506 506<br><br>
        <b>Northern Ireland</b><br>
        Northern Ireland Environment Agency<br>
        Producer Responsibility Unit<br>
        Telephone: 02 890 569338<br><br>
        <b>Scotland</b><br>
        Scottish Environment Protection Agency<br>
        Producer Compliance and Waste Shipments Unit<br>
        Telephone: 01786 457700<br><br>
        <b>Wales</b><br>
        Natural Resources Wales<br>
        Producer Responsibility Unit<br>
        Telephone: 03000 65 3096
    </div>
</div>