
@{
    ViewBag.Title = "DifferenceAnAATFandATFPartial";
}

<div class="govuk-body govuk-!-font-size-16">
    An ATF (authorised treatment facility) is a treatment facility that is ‘authorised’ to carry out treatment of waste electrical and electronic equipment (WEEE) either by holding a relevant environmental permit, or the specific activity being exempt. An AATF (approved authorised treatment facility) is additionally ‘approved’ by the relevant appropriate authority to issue evidence of the treatment of WEEE to producer compliance schemes or the producer compliance scheme balancing system (PBS).
</div>