@using System
@using System.Collections.Generic
@model List<string>

@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">
            The pending charges could not be issued
        </h1>
    </header>

    <p>
        <span class="bold-small"> The following must be fixed before charges can be issued.</span>
    </p>

    <table class="govuk-table" style="width:100%">
        <tbody class="govuk-table__body">
            @foreach (var error in Model)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@error</td>
                </tr>
            }
        </tbody>
    </table>
    <br/>
    <p>
        @Html.ActionLink("Continue", "Index", "Home", null, new { @class = "govuk-button" })
    </p>
}
