@using EA.Weee.Web.RazorHelpers
<div class="govuk-form-group">
    @using (this.WeeeGds().ProgressiveDisclosure(ViewData["title"].ToString()))
    {
          <p>@ViewData["SubHeading"]</p>
            <p>
                <h2 class="heading-small">
                    England
                </h2>
                <span>
                    Environment Agency<br />
                    Producer Responsibility Regulatory Services<br />
                    Telephone: 03708 506 506
                </span>
            </p>
            <p>
                <h2 class="heading-small">
                    Northern Ireland
                </h2>
                <span>
                    Northern Ireland Environment Agency<br />
                    Producer Responsibility Unit<br />
                    Telephone: 02 890 569338
                </span>
            </p>
            <p>
                <h2 class="heading-small">
                    Scotland
                </h2>
                <span>
                    Scottish Environment Protection Agency<br />
                    Producer Compliance and Waste Shipments Unit<br />
                    Telephone: 01786 457700
                </span>
            </p>
            <p>
                <h2 class="heading-small">
                    Wales
                </h2>
                <span>
                    Natural Resources Wales<br />
                    Producer Responsibility Unit<br />
                    Telephone: 03000 65 3096
                </span>
            </p>
    }
</div>
