@using EA.Weee.Web.RazorHelpers

@model EA.Weee.Web.Areas.Aatf.ViewModels.ManageEvidenceNoteViewModel
@{
    var controller = ViewData["controller"] as string;
    var selectedTab = ViewData["tab"] as string;
}

@using (Html.BeginForm("Index", controller, FormMethod.Get, new { id = "ComplianceYearForm" }))
{
    @Html.Hidden("tab", selectedTab)
    <span class="govuk-body"><strong>@Html.LabelFor(m => m.SelectedComplianceYear)</strong></span>
    <span class="text-margin">
        @Html.Gds().DropDownListFor(m => m.SelectedComplianceYear, 
            new SelectList(Model.ComplianceYearList), 
            new { @class = "govuk-!-width-one-quarter", autocomplete = "false", @id="evidenceSelectedComplianceYear"})
    </span>
    <noscript>
        @(this.WeeeGds().Button("Apply", null, true))
    </noscript>
    <div class="govuk-!-padding-bottom-5"></div>
}