@using EA.Weee.Core.Helpers
@model EA.Weee.Web.ViewModels.Shared.EvidenceNoteViewModel

@{
    var width = ViewData["widthCss"];
}

@if (Model.DisplayRejectedReason)
{

    <span id="reason-label" class="govuk-label--s @width">
        @Html.DisplayNameFor(m => m.RejectedReason)
    </span>
    <span aria-labelledby="reason-label" class="govuk-body govuk-!-padding-left-0 govuk-!-margin-bottom-0 weee-word-break">
        @Html.DisplayTextFor(m => m.RejectedReason)
    </span>

}
