@using EA.Weee.Core.Helpers
@model EA.Weee.Web.ViewModels.Shared.EvidenceNoteViewModel

@if (Model.DisplayRejectedReason)
{
    <div class="govuk-grid-row govuk-!-width-one-full govuk-!-margin-bottom-1">
        <span id="reason-label" class="govuk-label--s govuk-grid-column-one-quarter">
            @Html.DisplayNameFor(m => m.RejectedReason)
        </span>
        <span aria-labelledby="reason-label" class="govuk-body govuk-grid-column-two-thirds govuk-!-padding-left-0 govuk-!-margin-bottom-0 weee-word-break" maxlength="200">
            @Html.DisplayTextFor(m => m.RejectedReason)
        </span>
    </div>
}
