<p class="govuk-details__text">
    The data shown in the table is for household evidence.
    @Html.Raw(@ViewData["extraHintMessage"])
    <br />The evidence column includes approved evidence and net transfer.
</p>
