@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfEvidence
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.Areas.Scheme.Controllers
@using EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes
@using EA.Weee.Web.Extensions
@using MvcNavigationHelpers

@model EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes.SummaryEvidenceViewModel

<p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
    @(this.WeeeGds().ActionLinkWithEventTracking("Download evidence notes report - original tonnages (CSV)",
                                                    null,
                                                    Url.UrlFor<ManageEvidenceNotesController>(c => c.DownloadEvidenceNotesReport(Model.OrganisationId, Model.ManageEvidenceNoteViewModel.SelectedComplianceYear, TonnageToDisplayReportEnum.OriginalTonnages)),
                                                    "Downloads",
                                                    "Evidence notes report - original tonnages (CSV)"))
</p>

<p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-1">
    @(this.WeeeGds().ActionLinkWithEventTracking("Download evidence notes report - net of transfers (CSV)",
                                                    null,
                                                    Url.UrlFor<ManageEvidenceNotesController>(c => c.DownloadEvidenceNotesReport(Model.OrganisationId, Model.ManageEvidenceNoteViewModel.SelectedComplianceYear, TonnageToDisplayReportEnum.Net)),
                                                    "Downloads",
                                                    "Evidence notes report - net of transfers (CSV)"))
</p>
