<div class="phase-banner">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your @Html.ActionLink("feedback", "Feedback", "NewUser", new { area = string.Empty }, new { target = "_blank" }) will help us to improve it.</span>
    </p>
</div>