@using EA.Weee.Web.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
<div class="phase-banner">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>
            This is a new service – your
            @(this.WeeeGds().ActionLinkWithEventTracking("feedback",
            Url.UrlFor<NewUserController>(c => c.Feedback()),
            "Feedback",
            "Banner",
            "Feedback link",
            null,
            true
            )) will help us to improve it
        </span>
    </p>
</div>