@using EA.Weee.Web.RazorHelpers
<div class="phase-banner">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>This is a new service – your @this.WeeeGds().ActionLinkWithEventTracking("feedback", "Feedback", "NewUser", "Feedback", "Banner", "Feedback link", new RouteValueDictionary { { "area" , string.Empty } }, newTab: true) will help us to improve it.</span>
    </p>
</div>