@model EA.Weee.Web.ViewModels.Shared.IManageEvidenceViewModel

<br/>
@if (!Model.EvidenceNotesDataList.Any())
{
    if (Model.ManageEvidenceNoteViewModel.SearchPerformed)
    {
        <p>There are no search results with those search terms. Please try again with another search term.</p>
    }
    else
    {
        @Html.Raw(@ViewData["no-results-message"])
    }
}