@model EA.Weee.Web.ViewModels.Shared.IManageEvidenceViewModel

<br/>
@if (!Model.EvidenceNotesDataList.Any())
{
    if (Model.ManageEvidenceNoteViewModel.SearchPerformed)
    {
        <p>There are no matching results. Please try again.</p>
    }
    else
    {
        @Html.Raw(@ViewData["no-results-message"])
    }
}