<!DOCTYPE html>
<html>
<head>

    <title></title>
    
    <link href="@Href("~/Content/weee-pdf-page.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">

        .govuk-full-printable-width {
            width: 100% !important;
            display: block;
        }

        .govuk-full-printable-width span:nth-child(1) {
            display: inline-block;
            width: 20% !important;
            background-color: blue;
        }

        .govuk-full-printable-width span:nth-child(2) {
            display: inline-block;
            background-color: red;
            width: 80% !important;
        }

        .govuk-grid-column-one-third {
            display: inline-block;
            width: 30% !important;
            background-color: purple;
        }

        .govuk-header__logotype-text {
            vertical-align: top;
        }
    </style>
</head>

<body>
    <header class="govuk-header">
        <div class="">
            <div class="govuk-header__logo">
                <span>
                    <img src="/Content/govuk_frontend/assets/images/govuk-logotype-crown.png"/>
                </span>
            </div>
            <span>
                GOV.UK
            </span>
            <div>
                Waste Electrical and Electronic Equipment (WEEE)
            </div>
        </div>
    </header>
    @RenderBody()

</body>

</html>
