@using EA.Weee.Web.RazorHelpers

@using (this.WeeeGds().ProgressiveDisclosure("Privacy policy"))
{
    <h2 class="heading-small">The Data Protection Act 1998</h2>
    <p>
        We, the Environment Agency, Natural Resources Wales, Northern Ireland Environment Agency
        and Scottish Environment Protection Agency, will process the information you provide so that
        we can deal with your application, make sure you keep to the conditions of the licence, permit
        or registration, process renewals and keep the public registers up to date.
    </p>
    <p>We may also process or release the information to:</p>
    <ul class="list-bullet">
        <li>
            offer you documents or services relating to environmental
            matters;
        </li>
        <li>
            consult the public, public organisations and other
            organisations (for example, the Health and Safety
            Executive, local authorities, the emergency services, the
            Department for Environment, Food and Rural Affairs) on
            environmental issues;
        </li>
        <li>
            carry out research and development work on
            environmental issues;
        </li>
        <li>
            provide information from the public register to anyone
            who asks;
        </li>
        <li>
            prevent anyone from breaking environmental law,
            investigate cases where environmental law may have been
            broken, and take any action that is needed;
        </li>
        <li>
            assess whether customers are satisfied with our service,
            and to improve our service; and
        </li>
        <li>
            respond to requests for information under the Freedom of
            Information Act 2000 and the Environmental Information
            Regulations 2004 (if the Data Protection Act allows).
        </li>
    </ul>
    <p>We may pass the information on to our agents or representatives to do these things for us.</p>
}

