@using EA.Weee.Web.RazorHelpers

@using (this.WeeeGds().ProgressiveDisclosure("Privacy policy"))
{
    <h2 class="heading-medium">How we use your personal information</h2>

    <p>
        The Environment Agency, Scottish Environment Protection Agency (SEPA), Northern Ireland
        Environment Agency (NIEA) and Natural Resources Wales (known as ‘environmental
        regulators’) run the WEEE (Waste Electrical and Electronic Equipment) Online service. The
        environmental regulator that receives your data is the data controller for your personal data.
        A data controller determines how and why personal data (personal information) is
        processed.  Each environmental regulator has their own policy explaining your rights and
        how they deal with your personal information:
    </p>

    <h3 class="heading-small">Environment Agency:</h3>
    <p>
        Personal information charter:
        <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">
            https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter
        </a><br />
        You can access the charter using the link or go to GOV.UK and search 'Environment Agency
        personal information charter'.
    </p>

    <h3 class="heading-small">SEPA:</h3>
    <a href="https://www.sepa.org.uk/help/privacy-policy/">
        Privacy Policy
    </a>

    <h3 class="heading-small">NIEA:</h3>
    <a href="https://www.daera-ni.gov.uk/daera-privacy-statement">
        DAERA Privacy Statement
    </a>

    <h3 class="heading-small">Natural Resources Wales:</h3>
    <a href="https://naturalresources.wales/footer-links/privacy-notice/?lang=en">
        Privacy Notice
    </a>

    <h2 class="heading-medium">The personal data we need</h2>
    <div>
        The personal data we collect includes:
        <ul class="list-bullet">
            <li>names</li>
            <li>addresses</li>
            <li>contact details</li>
        </ul>
    </div>

    <p>
        We are allowed to process your data because we have official authority as the
        environmental regulators for the WEEE regulations. The lawful basis for processing your
        personal data is to perform a task in the public interest that is set out in law.
    </p>

    <p>
        If you do not give us the information requested, you may be in breach of your conditions of
        approval which could lead to your approval being withdrawn and / or prosecution.
    </p>

    <h2 class="heading-medium">Your responsibility</h2>
    <p>
        If you have included personal data about any other individuals in your submissions to WEEE
        Online, you must inform them. You must provide them with a copy of this privacy notice so
        that they are aware of how their personal data will be used.
    </p>

    <h2 class="heading-medium">What we do with your personal data</h2>
    <p>We use the personal data to regulate you in accordance with the WEEE regulations.</p>
    <p>We do not use your data to make an automated decision or for automated profiling</p>
    <div>
        We will share your personal data with:
        <ul class="list-bullet">
            <li>our IT suppliers who host and provide the WEEE Online service</li>
            <li>Shared Services Connected Ltd (SSCL) who process your personal information to send invoices on our behalf</li>
        </ul>
    </div>
    <div>
        We put the following personal data on a public register:
        <ul class="list-bullet">
            <li>names (Producer Compliance Scheme and Producer public register)</li>
            <li>addresses (Producer Compliance Scheme and Producer public register)</li>
            <li>contact details (Producer Compliance Scheme public register)</li>
        </ul>
    </div>

    <h2 class="heading-medium">How long we keep your personal data</h2>
    <p>
        We will keep your personal data for 7 years after the end of a compliance year in line with
        our standard information retention policy.
    </p>

    <h2 class="heading-medium">Where your personal data is processed and stored</h2>
    <p>
        We store and process your personal data on servers in the UK. We will not transfer your
        personal data outside the European Economic Area.
    </p>

    <h2 class="heading-medium">Contact details</h2>
    <p>
        You can contact the relevant Data Protection Officer at:
    </p>
    <h3 class="heading-small">Environment Agency:</h3>
    <p>
        Data Protection Officer<br />
        Environment Agency<br />
        Horizon House<br />
        Deanery Road<br />
        Bristol<br />
        BS1 5AH<br />
        Email: <a href="mailto:dataprotection@environment‐agency.gov.uk">dataprotection@environment‐agency.gov.uk</a>
    </p>
    <h3 class="heading-small">SEPA:</h3>
    <p>
        Information Governance Unit<br />
        Scottish Environment Protection Agency<br />
        Strathallan House<br />
        Castle Business Park<br />
        Stirling<br />
        FK9 4TZ<br />
        Email: <a href="mailto:dataprotection@sepa.org.uk">dataprotection@sepa.org.uk</a>
    </p>
    <h3 class="heading-small">NIEA:</h3>
    <p>
        Data Protection Officer<br />
        DAERA<br />
        Dundonald House<br />
        Upper Newtownards Road<br />
        Ballymiscaw<br />
        Belfast<br />
        BT4 3SB<br />
        Phone: 0300 200 7850
    </p>
    <h3 class="heading-small">Natural Resources Wales:</h3>
    <p>
        Data Protection Officer<br />
        Natural Resources Wales<br />
        Ty Cambria<br />
        29 Newport Road<br />
        Cardiff<br />
        CF24 0TP<br />
        Email: <a href="mailto:dataprotection@cyfoethnaturiolcymru.gov.uk">dataprotection@cyfoethnaturiolcymru.gov.uk</a>
    </p>

    <p>
        The Information Commissioner's Office (ICO) is the supervisory authority for data protection
        legislation. The ICO website has a full list of your rights under data protection legislation.
        You can access this at the following link: <a href="https://ico.org.uk/your-data-matters"> https://ico.org.uk/your-data-matters</a>
    </p>

    <p>
        You have the right to lodge a complaint with the ICO at any time. Should you wish to
        exercise that right full details are available at: <a href="https://ico.org.uk/make-a-complaint">https://ico.org.uk/make-a-complaint</a>.
    </p>
}

