@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Shared.ManageEvidenceNoteViewModel

<div class="govuk-form-group govuk-button-group">
   
    @this.WeeeGds().Button("Filter", new { name = "ActionFilter", id = "filter-apply-button" }, secondaryButton: false, filterButton: true)

    @Html.ActionLink("Clear filter", "Index", "ManageEvidenceNotes",
    new { tab = @ViewData["tab"].ToString(), selectedComplianceYear = Model.SelectedComplianceYear },
    new { @class = "link-submit govuk-link govuk-link--no-visited-state" })

</div>

