
<div id="prsd-timeout-overlay" class="prsd-timeout-overlay" style="display:none"></div>
<div id="prsd-timeout-dialog" tabindex="-1" role="dialog" aria-modal="true" class="prsd-timeout-dialog" aria-labelledby="prsd-timeout-heading prsd-timeout-message" style="display:none">
    <div>
        <h2 id="prsd-timeout-heading" class="govuk-heading-m push--top">
            You will be signed out soon
        </h2>
        <p class="govuk-body prsd-timeout-dialog__message" aria-hidden="true">
            For your security, you will be signed out in
            <span id="prsd-timeout-countdown" class="prsd-timeout-dialog__countdown">
            </span>.
            <br />
            Any unsaved data will be lost.
        </p>
        <div class="govuk-button-group">
            <button id="prsd-timeout-keep-signin-btn" class="govuk-button_automation-ignored">
                Stay signed in
            </button>

            @using (Html.BeginForm("SignOut", "Account", new { area = string.Empty }, method: FormMethod.Post, new { id = "signoutForm" }))
            {
                @Html.AntiForgeryToken()

                <input class="link-submit-automation-ignored session-link-sign-out" id="link-sign-out-external" type="submit" value="Sign out" />
            }

            @using (Html.BeginForm("SignOut", "Account", new { @area = "Admin" }, FormMethod.Post, new { id = "signoutFormAdmin" }))
            {
                @Html.AntiForgeryToken()

                <input class="link-submit-automation-ignored session-link-sign-out" id="session-link-sign-out-internal" type="submit" value="Sign out" />
            }
        </div>
    </div>
</div>