 @if (ViewBag.ShowLinksToAgencies ?? true)
 {
     <h2 class="govuk-footer__heading govuk-heading-m govuk-!-margin-bottom-2" style="border-bottom: 0px;">Contact us</h2>
     <ul class="govuk-footer__list govuk-footer__list--columns-2">
         <li class="govuk-footer__list-item">
             <h4 class="govuk-heading-s">England</h4>
             <p class="govuk-body govuk-body govuk-!-font-size-16">
                 Environment Agency<br/>
                 Producer Responsibility Regulatory Services<br/>
                 Telephone: 03708 506 506
             </p>
         </li>
         <li class="govuk-footer__list-item">
             <h4 class="govuk-heading-s">Scotland</h4>
             <p class="govuk-body govuk-body govuk-!-font-size-16">
                 Scottish Environment Protection Agency<br/>
                 Producer Compliance and Waste Shipments Unit<br/>
                 Telephone: 01786 457700
             </p>
         </li>
         <li class="govuk-footer__list-item">
             <h4 class="govuk-heading-s">Northern Ireland</h4>
             <p class="govuk-body govuk-body govuk-!-font-size-16">
                 Northern Ireland Environment Agency<br/>
                 Producer Responsibility Unit<br/>
                 Telephone: 02 890 569338
             </p>
         </li>
         <li class="govuk-footer__list-item">
             <h4 class="govuk-heading-s">Wales</h4>
             <p class="govuk-body govuk-body govuk-!-font-size-16">
                 Natural Resources Wales<br/>
                 Producer Responsibility Unit<br/>
                 Telephone: 03000 65 3096
             </p>
         </li>
     </ul>
 }