 @if (ViewBag.ShowLinksToAgencies ?? true)
 {
     <h2 class="govuk-footer__heading govuk-heading-m govuk-!-margin-bottom-2" style="border-bottom: 0px;">Contact us</h2>
     <ul class="govuk-footer__list govuk-footer__list--columns-2">
         <li class="govuk-footer__list-item">
             <h3 class="govuk-heading-s">England</h3>
             <p class="govuk-body govuk-body govuk-!-font-size-16">
                 Environment Agency<br />
                 Producer Responsibility Regulatory Services<br />
                 Telephone: 03708 506 506<br />
                 Email: <a href="mailto:weee@environment-agency.gov.uk">weee@environment-agency.gov.uk</a>
             </p>
         </li>
         <li class="govuk-footer__list-item">
             <h3 class="govuk-heading-s">Scotland</h3>
             <p class="govuk-body govuk-body govuk-!-font-size-16">
                 Scottish Environment Protection Agency<br />
                 Producer Compliance and Waste Shipments Unit<br />
                 Telephone: 01786 457700<br />
                 Email: <a href="mailto:producer.responsibility@sepa.org.uk">producer.responsibility@sepa.org.uk</a>
             </p>
         </li>
         <li class="govuk-footer__list-item">
             <h3 class="govuk-heading-s">Northern Ireland</h3>
             <p class="govuk-body govuk-body govuk-!-font-size-16">
                 Northern Ireland Environment Agency<br />
                 Producer Responsibility Unit<br />
                 Telephone: 02 890 569338<br />
                 Email: <a href="mailto:weee@daera-ni.gov.uk">weee@daera-ni.gov.uk</a>
             </p>
         </li>
         <li class="govuk-footer__list-item">
             <h3 class="govuk-heading-s">Wales</h3>
             <p class="govuk-body govuk-body govuk-!-font-size-16">
                 Natural Resources Wales<br />
                 Producer Responsibility Unit<br />
                 Telephone: 0300 065 3000<br />
                 Email: <a href="mailto:weee@naturalresourceswales.gov.uk">weee@naturalresourceswales.gov.uk</a>
             </p>
         </li>
     </ul>

     <hr class="govuk-footer__section-break">
 }