@using EA.Weee.Web.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers

<ul class="govuk-footer__inline-list">
    @* Show terms and conditions and privacy policy only on external site *@
    @if (ViewBag.ShowLinksToAgencies ?? true)
    {
        <li class="govuk-footer__inline-list-item">
            <a href="./new-user/terms-and-conditions" class="govuk-footer__link" onclick="ga('send', 'event', 'Policies', 'Terms and conditions');">Terms and conditions</a>
        </li>
        <li class="govuk-footer__inline-list-item">
            <a href="./new-user/privacy" class="govuk-footer__link" onclick="ga('send', 'event', 'Policies', 'Privacy');">Privacy</a>
        </li>
    }
    <li class="govuk-footer__inline-list-item">
        <a href="./NewUser/Cookies" class="govuk-footer__link">Cookies</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a href="./NewUser/Accessibility" class="govuk-footer__link">Accessibility</a>
    </li>
</ul>