<div class="govuk-header__content govuk-!-padding-top-2">
    <a href="~/" class="govuk-header__link govuk-header__link--service-name">
        Waste electrical and electronic equipment (WEEE)
    </a>
</div>