<div class="header-proposition">
    <div class="content">
        <nav id="proposition-menu">
            <div id="proposition-name">Waste Electrical and Electronic Equipment (WEEE)</div>
        </nav>
    </div>
</div>