<div class="header-proposition">
    <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
            <div id="proposition-name">Waste Electrical and Electronic Equipment (WEEE)</div>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <ul id="proposition-links">
                        <li>
                            <input type="submit" class="link-submit-log-off" value="Log off" />
                        </li>
                    </ul>
                }
            }
        </nav>
    </div>
</div>