<div class="header-proposition">
    <div class="content">
        <nav id="proposition-menu">
            <div id="proposition-name">Waste electrical and electronic equipment (WEEE)</div>
        </nav>
    </div>
</div>