<div class="header-proposition">
    <div class="content">
        <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
        <nav id="proposition-menu">
            <div id="proposition-name">Waste Electrical and Electronic Equipment (WEEE)</div>
            @if (Request.IsAuthenticated)
            {
                <ul id="proposition-links" />
            }
        </nav>
    </div>
</div>