@using EA.Weee.Web.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers

<h2 class="govuk-heading-m">What happens next</h2>
<p class="govuk-body">
    If you have any queries about your registration, please contact your environmental regulator.
</p>
<p class="govuk-body">
    @(this.WeeeGds().ActionLinkWithEventTracking("What did you think of this service?",
        "What did you think of this service?",
        Url.UrlFor<NewUserController>(c => c.Feedback()),
        "Feedback",
        "Producer Registration",
        "Feedback link",
        null,
        true
    ))
    (takes 30 seconds)
</p>
@using (Html.BeginForm("SignOut", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logout" }))
{
    <p class="govuk-body">
        You can
        @Html.AntiForgeryToken()
        @this.WeeeGds().CreateLinkButtonWithEventTracking("sign out", "Producer Registration", "sign out", "Sign out")
        or proceed to perform more activities.
    </p>
}