@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.ReusedOffSiteViewModel
@{
    ViewBag.Title = "Manage AATF returns ";
}

<section id="main-content">
    <h1 class="govuk-heading-l">
        ViewBag.Title
    </h1>

    
</section>