@{
    ViewBag.Title = "ContactProgressiveDisclosure";
}

<div class="govuk-body govuk-!-font-size-16">
    <p>The site you're looking for may not yet be approved for the current compliance year. Evidence notes for compliance years prior to 2023 are not stored in this service.</p> <br />
    <p>If you think you should be able to view one of your sites and it is not shown, contact your environmental regulator.</p>
</div>
@Html.Partial("~/Areas/Aatf/Views/Shared/_ContactProgressiveDisclosure_AddressOnly.cshtml")
