@{
    ViewBag.Title = "ContactProgressiveDisclosure";
}

<div class="govuk-body">
    <strong>England</strong><br />
    Environment Agency<br />
    Producer Responsibility Regulatory Services<br />
    Telephone: 03708 506 506<br /><br />
    <strong>Northern Ireland</strong><br />
    Northern Ireland Environment Agency<br />
    Producer Responsibility Unit<br />
    Telephone: 02 890 569338<br /><br />
    <strong>Scotland</strong><br />
    Scottish Environment Protection Agency<br />
    Producer Compliance and Waste Shipments Unit<br />
    Telephone: 01786 457700<br /><br />
    <strong>Wales</strong><br />
    Natural Resources Wales<br />
    Producer Responsibility Unit<br />
    Telephone: 0300 065 3000
</div>