@using System.Web.Mvc.Html
@using EA.Weee.Web.Extensions
@model EA.Weee.Web.Areas.Admin.ViewModels.AddAatf.OrganisationConfirmationViewModel
@{
    ViewBag.Title = "Organisation created";
}

<section id="main-content">
    <div>
        <h2 class="govuk-heading-m">You have successfully created @Model.OrganisationName and can now add an @Model.FacilityType.ToDisplayString().</h2>
    </div>
    <p>
        @Html.ActionLink("Continue", "Add", "AddAatf", new { organisationId = Model.OrganisationId, facilityType = Model.FacilityType }, new { @class = "govuk-button" })
    </p>
</section>