
@{
    ViewBag.Title = "This page isn't built yet";
}

<h1 class="govuk-heading-l">This page isn't built yet</h1>

<p>
    @Html.ActionLink("Perform another activity", "Index", "Holding",new { area = "Holding" }, new { @class = "govuk-button" })
</p>

