@model EA.Weee.Web.Maintenance.ViewModels.MaintenanceViewModel

@section main_content {

    <header class="hgroup">
        <div>
            <h1 class="heading-large">Sorry, the WEEE service is unavailable</h1>
        </div>
    </header>
    <p class="text">Our service will be available again shortly. If you have an urgent query, please contact the Environment Agency (England) helpline on 03708 506 506</p>

}