@{
    ViewBag.Title = "PCS submission window settings";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">
            Settings Updated
        </h1>
    </header>

    <p>
        @Html.ActionLink("Continue", "Index", "Home", null, new { @class = "button" })
    </p>
}