@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.TransferEvidenceNoteCategoriesViewModel
@{
    ViewBag.Title = "Transfer evidence to another scheme - GOV.UK";
}

@section full_main_content
{
    @(this.WeeeGds().BackLink(Url.RouteUrl(SchemeTransferEvidenceRedirect.EditDraftTransferEvidenceRouteName, new { pcsId = Model.PcsId, evidenceNoteId = Model.ViewTransferNoteViewModel.EvidenceNoteId, page = ViewBag.Page })))

    <div class="govuk-!-padding-bottom-2"></div>

    @(this.WeeeGds().Warning("Unselecting categories may change previous evidence note selections"))

    <h1 class="govuk-heading-l">
        Transfer evidence to another scheme
    </h1>

    @Html.Gds().ValidationSummary()

    @{ Html.RenderPartial("~/Areas/Scheme/Views/Shared/_TransferSummaryPartial.cshtml", Model.ViewTransferNoteViewModel); }

    @using (Html.BeginRouteForm("Scheme_edit_transfer_categories", method: FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ViewTransferNoteViewModel.EvidenceNoteId)

        { Html.RenderPartial("~/Areas/Scheme/Views/Shared/_TransferCategoriesPartial.cshtml", Model); }
    }
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SelectAllCheckboxesSection').css("display", "block");

            // case when selectAll is ticked => all checkboxes get selected, if selectAll is unticked => the other 14 checboxes will be unticked
            $('#all_checkbox_select_id').click(function () {
                $(".govuk-checkboxes__input").prop('checked', $(this).prop('checked'));
            });

            // case when if any of the 14th checkboxes is unticked => untick the selectAll too
            $('.allCategoryCheckBox').change(function () {
                var $this = $(this);

                if ($this.is(":checked")) {
                }
                else {
                    if ($('#all_checkbox_select_id').is(":checked")) {
                        $('#all_checkbox_select_id').prop("checked", false);
                    }
                }
            });

            // case when if all 14th checkboxes are ticked => selectAll gets ticked too
            $('.allCategoryCheckBox').change(function () {
                var a = $("input[type='checkbox'].allCategoryCheckBox");
                if (a.length == a.filter(":checked").length) {
                    $('#all_checkbox_select_id').prop("checked", true);
                }
            });
        });

    </script>
}


