@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Areas.Scheme.Controllers
@using EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@using HomeController = EA.Weee.Web.Areas.Scheme.Controllers.HomeController

@model ManageEvidenceNoteSchemeViewModel
@{
    var title = String.Format("Manage evidence notes for {0}", Model.SchemeName);
    ViewBag.Title = title + " - GOV.UK";

}

@(this.WeeeGds().BackLink(@Url.UrlFor<HomeController>(a => a.ChooseActivity(Model.OrganisationId))))

<header class="hgroup">
    <h1 class="govuk-heading-l">
        @title
    </h1>
</header>

 @{ Html.RenderPartial("_ComplianceYearPartial", Model.ManageEvidenceNoteViewModel, new ViewDataDictionary() {{ "controller", "ManageEvidenceNotes" }, { "tab", Model.ActiveDisplayOption.ToDisplayString() }, { "width", "107px" } });}

<ul class="govuk-tabs__list">
    @this.WeeeGds().Tab("Review submitted evidence",
        Url.Action("Index", "ManageEvidenceNotes", 
            new { @pcsId = Model.OrganisationId, @tab = ManageEvidenceNotesDisplayOptions.ReviewSubmittedEvidence.ToDisplayString(), @selectedComplianceYear=Model.ManageEvidenceNoteViewModel.SelectedComplianceYear }),
        Model.ActiveDisplayOption == ManageEvidenceNotesDisplayOptions.ReviewSubmittedEvidence)
    @this.WeeeGds().Tab("View and transfer evidence",
        Url.Action("Index", "ManageEvidenceNotes", 
            new { @pcsId = Model.OrganisationId, @tab = ManageEvidenceNotesDisplayOptions.ViewAndTransferEvidence.ToDisplayString(), @selectedComplianceYear=Model.ManageEvidenceNoteViewModel.SelectedComplianceYear }),
        Model.ActiveDisplayOption == ManageEvidenceNotesDisplayOptions.ViewAndTransferEvidence)
</ul>


