@using EA.Weee.Core.Helpers
@using EA.Weee.Web.Areas.Scheme.Controllers
@using EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@using HomeController = EA.Weee.Web.Areas.Scheme.Controllers.HomeController

@model ManageManageEvidenceNoteSchemeViewModel
@{
    var title = String.Format("Manage evidence notes for {0}", Model.SchemeName);
    ViewBag.Title = title + " - GOV.UK";

}

<p>
    @(this.WeeeGds().BackLink(@Url.UrlFor<HomeController>(a => a.ChooseActivity(Model.OrganisationId))))
</p>

<header class="hgroup">
    <h1 class="govuk-heading-l">
        @title
    </h1>
</header>

 @{ Html.RenderPartial("_ComplianceYearPartial", Model.ManageEvidenceNoteViewModel, new ViewDataDictionary() {{ "controller", "ManageEvidenceNotes" }, { "tab", Model.ActiveDisplayOption.ToDisplayString() }});}

<ul class="govuk-tabs__list">
    @this.WeeeGds().Tab("Review submitted evidence",
                            Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(Model.OrganisationId, ManageEvidenceNotesDisplayOptions.ReviewSubmittedEvidence.ToDisplayString(), null)),
                            Model.ActiveDisplayOption == ManageEvidenceNotesDisplayOptions.ReviewSubmittedEvidence)
    @this.WeeeGds().Tab("View and transfer evidence",
                            Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(Model.OrganisationId, ManageEvidenceNotesDisplayOptions.ViewAndTransferEvidence.ToDisplayString(), null)),
                            Model.ActiveDisplayOption == ManageEvidenceNotesDisplayOptions.ViewAndTransferEvidence)
</ul>


