@model EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes.ReviewSubmittedManageEvidenceNotesSchemeViewModel

@section full_main_content
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            @Html.Partial("_ManageEvidenceNotesHeaderAndTabs", Model)

            @Html.Partial("_ReviewSubmittedEvidencePartial", Model)
        </div>
    </div>
}