.button-start,
.button-get-started {
  background-image: file-url("icon-pointer.png");

  @include device-pixel-ratio {
    background-image: file-url("icon-pointer-2x.png");
  }

  @include ie(6) {
    background-image: file-url("icon-pointer-2x.png");
  }
}