// Phase banner
// ==========================================================================
.phase-banner {
  @include phase-banner(beta);
}

// Use .grid-column to create a grid column with 15px gutter
// By default grid columns break to become full width at tablet size
.column-whole {
  @include grid-column(1);
}

.spacer{
    margin: 0;
    width: 100%;
    height: 25px;
}