.previous-next-navigation {
  position: relative;
  overflow: hidden;
  margin-top: $govuk-gutter*2;
  width: 100%;
  padding-left: 0;

  li {
    @include govuk-font(27);
    display: block;
    padding: 0;
    margin: 0;
    width: 50%;
    float: left;

    &.next {
      float: right;
      text-align: right;

      a {
        padding: $govuk-gutter-half $govuk-gutter+5px $govuk-gutter-half 0;
      }
      a:before {
        background: transparent image-url("../content/govuk_toolkit/images/arrow-sprite.png") no-repeat -102px -11px;
        margin: -4px -32px 0 0;
        display: block;
        float: right;
        width: $govuk-gutter;
        height: 38px;
        content: " ";
      }
    }
    &.previous {
      a {
          padding: $govuk-gutter-half 0 $govuk-gutter-half $govuk-gutter+5px;
      }
      a:before {
        background: transparent image-url("../content/govuk_toolkit/images/arrow-sprite.png") no-repeat -20px -11px;
        margin: -4px 0 0 -32px;
        display: block;
        float: left;
        width: $govuk-gutter;
        height: 38px;
        content: " ";
      }
    }

    a {
      display: block;
      text-decoration: none;

      span {
        display: block;
        @include govuk-font(14);
        padding: 6px 0;
      }
      &:focus .page-numbers,
      &:hover .page-numbers {
        text-decoration: underline;
      }
      &:hover {
        background: govuk-colour('grey-4');
      }
      &:active {
        background: govuk-colour('grey-3');
      }
    }

    @include govuk-media-query($from: tablet) {
      .visuallyhidden {
        @include govuk-font(27);
        display: inline-block;
        position: static;
      }
    }
  }
}

/* Pager */
.pager
{
	margin: 8px 3px;
	padding: 3px;
    float: right;
}

.pager .disabled
{
	color: #999;
	margin-top: 4px;
	padding: 3px;
 	text-align: right;
}

.pager .current
{
    color:#333333;			
	margin-top: 4px;
	padding: 3px 5px;
 	text-align: right;
}

.pager span, .pager a
{
	margin: 4px 3px;
}

.pager a
{	    
	padding: 3px 5px;
    text-align: right;	
    color: #005EA5;
	text-decoration: underline;      
}