@model EA.Iws.Requests.Producers.ProducerData

@using (Html.BeginForm(actionName: "DeleteProducer", controllerName: "Producer"))
{
    <div id="confirmDialog" role="alertdialog" aria-labelledby="dialogTitle" aria-describedby="dialog-desc" tabindex="-1" class="confirmDialog">
        <h2 id="dialogTitle" class="heading-small">Delete producer</h2>
        <p id="dialog-desc">Are you sure you want to delete this producer?</p>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.NotificationId)
        @Html.HiddenFor(m => m.IsSiteOfExport)
        <div>
            <input type="submit" id="btnYes" class="button" value="Yes" />
            @Html.ActionLink("No", "MultipleProducers", "Producer", new { uid = Model.NotificationId }, null)
        </div>
    </div>
}