<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net461" />
  <package id="Autofac.Mvc5" version="4.0.2" targetFramework="net461" />
  <package id="EA.Prsd.Core" version="1.0.18347-govuk-frontend1" targetFramework="net461" />
  <package id="EA.Prsd.Core.Autofac" version="1.0.18347-govuk-frontend1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="StyleCop.Error.MSBuild" version="1.0.0" targetFramework="net461" />
  <package id="StyleCop.MSBuild" version="5.0.0" targetFramework="net461" developmentDependency="true" />
</packages>