<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net452" />
  <package id="EA.Prsd.Core" version="1.0.15188-develop1" targetFramework="net452" />
  <package id="EA.Prsd.Core.Autofac" version="1.0.15188-develop1" targetFramework="net452" />
</packages>