@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfReturn
@using EA.Weee.Web.Infrastructure
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Returns.ReturnViewModel
@{
    ViewBag.Title = "AATF return summary - GOV.UK";
}

@{
    var hideOpenClass = Model.AnyAatfSchemes ? "" : "hide";
}

<section id="main-content">
    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">AATF return summary</h1>
        </div>
    </header>

    @Html.Partial("_SummaryPartial", Model, new ViewDataDictionary() { new KeyValuePair<string, object>("displayEdit", false) })

    <div class="govuk-!-padding-bottom-6" />
    <div class="govuk-grid-row" />
    <a href="@Url.Action("Index", "Returns", new { organisationId = Model.OrganisationId})" class="govuk-back-link">Back</a>
</section>

@Scripts.Render("~/bundles/weee-collapsible-link")
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            InitialStartup();
        });
    </script>
}