@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@{
    ViewBag.Title = "Manage Members";
}

@section main_content {
    <header class="hgroup">
        <h1 class="heading-large">
            Register or update member details
        </h1>
    </header>
    <p>To register or update your members' details, upload and submit an xml file</p>
    <p>Your XML file must use the 3.0.2 Schema</p>

    @using (Html.BeginForm("AddOrAmendMembers", "MemberRegistration", FormMethod.Post, new { id = "frmUpload", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <div class="form-group">
            <input type="file" name="file" />
        </div>

        <div class="form-group">
            <input type="submit" class="button" id="submitButton" value="Check file for errors" />
        </div>
    }
}
