@using EA.Weee.Requests.Shared
@model EA.Weee.Web.ViewModels.PCS.MemberUploadResultViewModel
@{
    ViewBag.Title = "View errors and warnings";
}

<style type="text/css">
    .panel-indent-danger {
        clear: both;
        border-left: 4px solid red;
        padding: 10px;
    }

    .panel-indent-warning {
        clear: both;
        border-left: 4px solid #ffd800;
        padding: 10px;
    }

    .panel-indent-info {
        clear: both;
        border-left: 4px solid #4856A6;
        padding: 10px;
    }
</style>

@section main_content {

    @if (Model.ErrorData != null && Model.ErrorData.Count > 0)
    {
        <header class="hgroup">
            <div>
                <h1 class="heading-large">The XML contains @Model.ErrorData.Count Error(s)</h1>
            </div>
        </header>

        <p>Errors are problems with the XML file structure and formatting that stop it being uploaded successfully</p>
        <p>You must review, amend and re-upload your file before you can proceed to the next step</p>

        <details class="error-details">
            <summary class="error-details-summary bold-small">
                @Model.ErrorData.Count Error(s)
            </summary>

            <ul class="error-list">
                @foreach (var uploadError in Model.ErrorData)
                {
                    <li>@uploadError.Description</li>
                }
            </ul>

        </details>
        <br/>
        <p>Go back and <a href="@Url.Action("AddOrAmendMembers", "MemberRegistration")">upload a new file</a></p>
    }
    else
    {   
        <div class="panel-indent-info">
            <div class="alert alert-danger" role="alert">
                <strong>INFO: </strong>No warnings or errors.
            </div>
        </div>  
    }
}
