@using EA.Weee.Requests.Shared
@model EA.Weee.Web.Areas.PCS.ViewModels.MemberUploadResultViewModel
@{
    ViewBag.Title = "View errors and warnings";
}

@section main_content {

    <header class="hgroup">
        <div>
            <h1 class="heading-large">The XML file contains @Model.ErrorData.Count error(s)</h1>
        </div>
    </header>

    <p>Errors are problems with the XML file structure and formatting that stop it being uploaded successfully.</p>
    <p>You must review, amend and re-upload your file before you can proceed to the next step.</p>

    <details>
        <summary class="error-details-summary bold-small">
            @Model.ErrorData.Count Error(s)
        </summary>
        <div class="error-list-container">
            <ul>
                @foreach (var uploadError in Model.ErrorData)
                {
                    <li class="error-list-item font-xsmall">@uploadError.Description</li>
                }
            </ul>
        </div>
    </details>
    <br />
    <p>Go back and <a href="@Url.Action("AddOrAmendMembers", "MemberRegistration")">upload a new file</a></p>
}
