@using EA.Weee.Requests.Shared
@model EA.Weee.Web.ViewModels.PCS.MemberUploadResultViewModel
@{
    ViewBag.Title = "View errors and warnings";
}

<style type="text/css">
    .panel-indent-danger {
        clear: both;
        border-left: 4px solid red;
        padding: 10px;
    }

    .panel-indent-warning {
        clear: both;
        border-left: 4px solid #ffd800;
        padding: 10px;
    }

    .panel-indent-info {
        clear: both;
        border-left: 4px solid #4856A6;
        padding: 10px;
    }
</style>

@section main_content {
    <header class="hgroup">
        <div>
            <h1 class="heading-large">XML validation warnings / errors</h1>
        </div>
    </header>

    <details class="error-details validation-summary">
        <summary class="error-details-summary bold-small">
            @Model.ErrorData.Count Error(s)
        </summary>

        <ul class="error-list">
            @foreach (MemberUploadErrorData uploadError in Model.ErrorData)
            {
                <li class="field-validation-error">@uploadError.Description</li>
            }
        </ul>

    </details>

    @if (Model.ErrorData == null || Model.ErrorData.Count == 0)
    {
        <div class="panel-indent-info">
            <div class="alert alert-danger" role="alert">
                <strong>INFO: </strong>No warnings or errors.
            </div>
        </div>
    }
}
