@using EA.Weee.Web.Areas.Aatf.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@using EA.Weee.Core.Helpers
@using HomeController = EA.Weee.Web.Areas.Scheme.Controllers.HomeController
@model EA.Weee.Web.ViewModels.Shared.ManageEvidenceNoteViewModel

@using (Html.BeginForm(actionName: "Index", controllerName: "ManageEvidenceNotes", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.OrganisationId)
    @Html.HiddenFor(m => m.AatfId)

    if (Model.CanCreateEdit)
    {
        @(this.WeeeGds().Submit("Create new evidence note"))
    }
    else
    {
        <p class="govuk-details__text">You cannot create evidence if your site approval has been cancelled or suspended or your site is not approved for the selected compliance year</p>
    }
}

<br />