@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@using EA.Weee.Web.Areas.Aatf.ViewModels
@using EA.Weee.Web.Areas.Aatf.Controllers

@model ManageEvidenceNoteOverviewViewModel
@*<header class="hgroup">
    <h1 class="govuk-heading-xl">@Model.SchemeName</h1>
</header>*@

<ul class="govuk-tabs__list">
    @this.WeeeGds().Tab("Evidence summary",
        Url.UrlFor<ManageEvidenceNotesController>(a => a.Overview(Model.OrganisationId, Model.AatfId, ManageEvidenceOverviewDisplayOption.EvidenceSummary, "evidenceSummaryAnchor")),
        Model.ActiveOverviewDisplayOption == ManageEvidenceOverviewDisplayOption.EvidenceSummary, "evidenceSummaryAnchor")
    @this.WeeeGds().Tab("Edit draft and returned notes",
        Url.UrlFor<ManageEvidenceNotesController>(a => a.Overview(Model.OrganisationId, Model.AatfId, ManageEvidenceOverviewDisplayOption.EditDraftAndReturnedNotes, "editDraftReturnedNotesAnchor")),
        Model.ActiveOverviewDisplayOption == ManageEvidenceOverviewDisplayOption.EditDraftAndReturnedNotes, "editDraftReturnedNotesAnchor")
    @this.WeeeGds().Tab("View all other evidence notes",
        Url.UrlFor<ManageEvidenceNotesController>(a => a.Overview(Model.OrganisationId, Model.AatfId, ManageEvidenceOverviewDisplayOption.ViewAllOtherEvidenceNotes, "viewAllOtherEvidenceNotesAnchor")),
        Model.ActiveOverviewDisplayOption == ManageEvidenceOverviewDisplayOption.ViewAllOtherEvidenceNotes, "viewAllOtherEvidenceNotesAnchor")
</ul>
