@{
    ViewBag.Title = "ProtocolTypesProgressiveDisclosure";
}

<style>
    #protocol-table th {
        width: 33%;
    }

    @@media (max-width: 600px) {
        #protocol-table tr {
            display: flex;
            flex-direction: column;
        }
        #protocol-table th {
            width: 100%;
            padding-top: 0.5em;
            font-weight: 700;
        }
        #protocol-table td {
            order: 2;
            padding-top: 0.25em;
        }
    }
    
</style>


<table id="protocol-table" role="presentation">
    <tr>
        <th class="govuk-!-text-align-left">Actual</th>
        <td>(Tonnages are determined by weighing each category)</td>
    </tr>
    <tr>
        <th class="govuk-!-text-align-left">LDA protocol</th>
        <td>(Large domestic appliance protocol)</td>
    </tr>
    <tr>
        <th class="govuk-!-text-align-left">SMW protocol</th>
        <td>(Small mixed WEEE protocol)</td>
    </tr>
    <tr>
        <th class="govuk-!-text-align-left">Site specific protocol</th>
        <td>(also referred to as 'SSP')</td>
    </tr>
    <tr>
        <th class="govuk-!-text-align-left">Reuse Network PWP </th>
        <td>(Reuse Network Product Weight Protocol)</td>
    </tr>
    <tr>
        <th class="govuk-!-text-align-left">Light iron protocol </th>
        <td>(WEEE in light iron protocol)</td>
    </tr>
</table>
