@{
    ViewBag.Title = "ProtocolTypesProgressiveDisclosure";
}
<p>
    <span class="weee-span-as-cell" style="width: 35%">
        LDA protocol<br>
        SMW protocol<br>
        Site specific protocol<br>
        Reuse Network PWP <br>
        Light iron protocol
    </span>
    <span class="weee-span-as-cell">
        (Large domestic appliance protocol)<br>
        (Small mixed WEEE protocol)<br>
        (also referred to as 'SSP') <br>
        (Reuse Network Product Weight Protocol) <br>
        (WEEE in light iron protocol) <br>
    </span>
</p>