@model EA.Weee.Web.Areas.Aatf.ViewModels.ManageEvidenceNoteViewModel

@using (Html.BeginForm("Index", "ManageEvidenceNotes", FormMethod.Get))
{
    <div class="govuk-form-group govuk-!-width-one-half">
        <div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.FilterViewModel.SearchRef)">
            @Html.Gds().LabelFor(m => m.FilterViewModel.SearchRef, new { @class = "govuk-label--s" }, false)
            @Html.Gds().TextBoxFor(m => m.FilterViewModel.SearchRef)
            <button class="govuk-button"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only govuk-visually-hidden">Search by reference number</span></button>
        </div>
    </div>
}