@using EA.Weee.Web.Areas.Aatf.Controllers
@using EA.Weee.Core.Shared
@using MvcNavigationHelpers

@model EA.Weee.Web.Areas.Aatf.ViewModels.EditDraftReturnedNotesViewModel

<div class="govuk-tabs">
    @Html.Partial("Overview/_ManagerEvidenceNotesOverviewHeaderAndTabs", Model)

    <section class="govuk-tabs__panel" id="editDraftReturnedNotes">

        <table id="edit-draft-returned-notes-table" class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">
                        Reference ID
                    </th>
                    <th class="govuk-table__header">
                        Recipient
                    </th>
                    <th class="govuk-table__header">
                        Type of waste
                    </th>
                    <th class="govuk-table__header">
                        Status
                    </th>
                </tr>
                </thead>
            </table>
        <br />
      
    </section>

</div>