
@using EA.Weee.Core.AatfEvidence
@using EA.Weee.Web.Areas.Aatf.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Aatf.ViewModels.ViewEvidenceNoteViewModel
@{
    var title = Model.Status == NoteStatus.Draft ? "Draft evidence note" : "Submitted evidence note";

    ViewBag.Title = title;
}

<section id="main-content">
    @(this.WeeeGds().BackLink(@Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(Model.OrganisationId, Model.AatfId, null, null))))
    @if (Model.DisplayMessage)
    {
        @(this.WeeeGds().Panel(Model.SuccessMessage))
    }

    @*@Html.Partial("_ViewEvidenceNotePartial", Model)*@

</section>
