
@using EA.Weee.Web.Areas.Aatf.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Aatf.ViewModels.EvidenceNoteViewModel
@{
    ViewBag.Title = "View Draft Evidence Note";
}

@{
    var text = string.Format("You have successfully saved the evidence note with reference E{0} as a draft", ViewBag.EvidenceNoteId);
    var aatfId = (Guid)ViewBag.aatfId;
    var organisationId = (Guid)ViewBag.organisationId;
}
<section id="main-content">
    @(this.WeeeGds().BackLink(@Url.UrlFor<ManageEvidenceNotesController>(a => a.Index(organisationId, aatfId))))

    @(this.WeeeGds().Panel(text))
</section>

