@{
    ViewBag.Title = "Accessibility statement for WEEE Online";
}

<header class="hgroup" style="margin-top:30px;">
    <h1 class="govuk-heading-xl" style="margin-bottom:30px !important">Accessibility statement for Waste electrical and electronic equipment (WEEE)</h1>
</header>

<div id="dvAccessbility" class="govuk-body">
    <p>
        This accessibility statement applies to the WEEE online service at <a href="https://weee.service.gov.uk" target="_blank" class="accessibility-link">https://weee.service.gov.uk</a> and primarily applies to the customer facing elements of this service.
        Some accessibility issues may be present on screens only visible to the UK’s environmental regulators’ internal service which may not have been flagged yet so won’t be mentioned in this statement.
    </p>

    <p>
        This website is run by the Environment Agency. We want as many people as possible to be able to use this website.
    </p>

    <p>
        For example, that means you should be able to:
        <div id="dvAccessibility1">
            <ul>
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen or losing functionality</li>
                <li>navigate most of the website using just a keyboard</li>
                <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>
        </div>
        We’ve also made the website text as simple as possible to understand. <br /> <br />
        <a href="https://mcmw.abilitynet.org.uk" target="_blank" class="accessibility-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.
    </p>

    <h2 class="govuk-heading-l accessibility-l">How accessible this website is</h2>
    <p>
        We know some parts of this website are not fully accessible:
        <div id="dvAccessibility2">
            <ul>
                <li>some buttons do  not have accessible content-to-background colour contrast when in a selected state</li>
                <li>the login timeout feature present on the service is not obvious or adjustable</li>
                <li>the service is not mobile friendly, although efforts have been made to ensure it remains usable on mobile devices</li>
            </ul>
        </div>
    </p>

    <h2 class="govuk-heading-l accessibility-l">What to do if you cannot access parts of this website</h2>
    <p>
        If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, email <a href="mailto:weee@environment-agency.gov.uk" class="accessibility-link">weee@environment-agency.gov.uk</a>. We’ll consider your request and get back to you in 10 working days.
    </p>

    <h2 class="govuk-heading-l accessibility-l">Reporting accessibility problems with this website</h2>
    <p>
        We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email <a href="mailto:weee@environment-agency.gov.uk" class="accessibility-link">weee@environment-agency.gov.uk</a>.
    </p>

    <h2 class="govuk-heading-l accessibility-l">Enforcement Procedure</h2>
    <p>
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ’accessibility regulations’).
        If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/app/ask" target="_blank" class="accessibility-link">Equality Advisory and Support Service (EASS)</a>.
    </p>

    <h2 class="govuk-heading-l accessibility-l">Contacting us by phone or visiting us in person</h2>
    <p>
        It is possible to visit our offices in person. Our offices have audio induction loops, or if you contact us before your visit, we can arrange a British Sign Language (BSL) interpreter. Find out <a href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening" target="_blank" class="accessibility-link">how to contact us</a> to arrange a visit.
    </p>

    <h2 class="govuk-heading-l accessibility-l">Technical information about this website’s accessibility</h2>
    <p>
        The Environment Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p>

    <h2 class="govuk-heading-l accessibility-l">Compliance status</h2>
    <p>
        This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" target="_blank" class="accessibility-link">Web Content Accessibility Guidelines</a> version 2.1 AA standard, due to the non-compliances listed below.
    </p>

    <h2 class="govuk-heading-l accessibility-l">Non-accessible content</h2>
    <p>
        The content listed below is non-accessible for the following reasons.
    </p>
    <h2 class="govuk-heading-m">Non-compliance with the accessibility regulations</h2>
    <div id="dvAccessibility3">
        <ul>
            <li>
                some pages when zoomed into 400% display content (to simulate a mobile device) incorrectly and causes the screen to scroll in multiple axes. This means that some users with visual impairments are unable to resize text to read comfortably. This fails WCAG 2.1 success criterion 1.4.10 (Reflow).
            </li>
            <li>
                some buttons do not feature a high enough colour contrast of a minimum of 3:1 when selected. This means that some users with visual impairments may struggle to distinguish buttons when in a selected state . This fails WCAG 2.1 success criterion 1.4.11 (Non-text contrast) and 1.4.3 (Contrast Minimum) although it conforms to the GOV.UK design system.
            </li>
            <li>
                the service has a time-out feature which users are unable to see, adjust or disable. This means that users with visual, motor and/or cognitive impairments that require more time than others to understand and use the service are unable to use the service fully and may be logged out without warning. This fails WCAG 2.1 success criterion 2.2.1 (Timing adjustable).
            </li>
            <li>
                although efforts have been made to ensure all features are usable on mobile, the service is not mobile friendly. Some text overlaps and therefore fails the WCAG 2.1 criterion 1.4.12 (Text spacing) when using mobile screens.
            </li>
        </ul>
    </div>

    <h2 class="govuk-heading-m">Disproportionate burden</h2>
    <p>
        There are currently no issues that would be deemed disproportionate burden to rectify but we will update this section should this change.
    </p>

    <h2 class="govuk-heading-m">Content that’s not within scope of the accessibility regulations</h2>
    <p>
        All identified accessibility issues currently fall within scope, however the timeout issue impacting criteria 2.2.1 (Timing adjustable) was concluded to be essential to the security of the service. We will continue to monitor this and update this section should it change.
    </p>

    <h2 class="govuk-heading-l accessibility-l">What we’re doing to improve accessibility</h2>
    <p>
        We reviewed the service in 2023 against the recommendations from an accessibility audit carried out in December 2021, and made multiple changes to increase the service’s accessibility. We will continue to improve the accessibility of WEEE online by fixing any reported issues in future.
    </p>

    <h2 class="govuk-heading-l accessibility-l">Preparation of this accessibility statement</h2>
    <p>
        This website was last tested in April 2023. The test was carried out by Civica.
    </p>
    <p>
        A review was carried out to fix issues found in the December 2021 accessibility audit. The audit checked the main user journeys against the WCAG 2.1 AA guidelines, the review also looked to identify where these issues could be found on other screens across the site, including both the internal and external sites. A general accessibility check of the whole service was also conducted to ensure it could be used with a screen reader (the service was checked using NVDA), navigated using only a keyboard and used on smaller screens (zoomed to 200%, the service is usable when zoomed to 400% but some horizontal scrolling is required), as well as with Javascript disabled.
    </p>    
    <p>
        This statement was prepared on 14 July 2022. It was last reviewed 3 May 2023.
    </p>
</div>