@{ ViewBag.Title = "Accessibility statement for WEEE Online"; }
<div>
    <h1 class="govuk-heading-l" style="margin-top:15px;">
        Accessibility statement for WEEE Online
    </h1>
    <p>This website is run by the Environment Agency. We want as many people as possible to be able to use this website. Currently you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Change font size</li>
        <li>Navigate most of the website using just a keyboard</li>
    </ul>
    <p>We've also made the website text as simple as possible to understand. <a href="https://abilitynet.org.uk/" target="_blank" aria-label="Opens in a new tab">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
    
    <h2 class="govuk-heading-m">How accessible is this website?</h2>
    <p>We are in the process of reviewing the accessibility of our website.</p>
    
    <h2 class="govuk-heading-m">What to do if you cannot access parts of this website</h2>
    <p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, please contact:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>WEEE Helpdesk: <a href="mailto:weee@environment-agency.gov.uk?subject=WEEE website accessibility">weee@environment-agency.gov.uk</a></li>
    </ul>
    <p>We'll consider your request and get back to you within 10 days.</p>
    
    <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
    <p>We're always looking to improve the accessibility of this website. If you find any problems or think we’re not meeting accessibility requirements, please contact:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>WEEE Helpdesk: <a href="mailto:weee@environment-agency.gov.uk?subject=WEEE website accessibility">weee@environment-agency.gov.uk</a></li>
    </ul>
    
    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_blank" aria-label="Opens in a new tab">contact the Equality Advisory and Support Services (EASS).</a></p>
    
    <h2 class="govuk-heading-m">Technical information about this website's accessibility</h2>
    <p>The Environment Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    
    <h2 class="govuk-heading-m">What we're doing to improve accessibility</h2>
    <p>We are in the process of reviewing the accessibility of our website and an initial audit will take place to assess our accessibility by the end of March 2022 so that in 2022/23, if this is required, we will develop a road map to show how and when we plan to improve accessibility on this website.</p>
    
    <h2 class="govuk-heading-m">Preparation of this accessibility assessment</h2>
    <p>This statement was prepared on 20/09/2021. It was last reviewed on 14/09/2021.</p>
</div>