
@{
    ViewBag.Title = "Account not required";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">Account not required</h1>
    </header>
    <p>
        Based on the information you've given us, you don't need an account for the WEEE online service.
    </p>

    <p>
        If you need more information on this, please call us.
    </p>

    @Html.Partial("_CompetentAuthoritiesContactDetails", new ViewDataDictionary { { "title", "Who should I contact?" } })

    <div class="form-group">
        @Html.ActionLink("Continue", "LandingPage", "Home", null, new { @class = "button" })
    </div>
}
 
