
@{
    ViewBag.Title = "AccountNotRequired";
}

<div class="back">
    <a href="@Url.Action("LandingPage", "Home")">Back</a>
</div>

<h1 class="heading-large">
    Account not required
</h1>
<p>
    You do not require a user account at this time. If you require further information call the Environment Agency (England) helpline on 03708 506 506.
</p>

