@model EA.Weee.Web.ViewModels.Shared.YesNoChoiceViewModel
@{
    ViewBag.Title = "Do you need a user account?";
}

@using (Html.BeginForm(actionName: "CheckUserAccountCreation", controllerName: "NewUser", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <header class="hgroup">
        <h2 class="heading-large">Do you need a user account?</h2>
    </header>
    <p>Having an account will enable you to sign into the system.</p>
    <p>If you are not sure whether you have already created yourself an account, or are uncertain whether you require an account, please choose "no".</p>

    <div class="form-group @Html.Gds().FormGroupClass(m => m.Choices.SelectedValue)">
        @Html.EditorFor(m => m.Choices)
    </div>
    <div class="form-group">
        <button class="button" type="submit">Continue</button>
    </div>
}
