@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Shared.YesNoChoiceViewModel
@{
    ViewBag.Title = "Do you need a user account?";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">
           Are you a producer compliance scheme (PCS)?
        </h1>
    </header>

    @using (Html.BeginForm(actionName: "CheckIsPcs", controllerName: "NewUser", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)">
            @Html.WeeeGds().RadioButtonsFor(m => m.SelectedValue, Model.PossibleValues, "Are you a producer compliance scheme (PCS)?", true)
        </div>
        <div class="form-group">
            <button class="button" type="submit">Continue</button>
        </div>
    }
}
