@{
    ViewBag.Title = "User account created";
}

<h1 class="heading-large">
    Your user account has been created
</h1>
<p>
    An email has been sent to you containing instructions on how to activate your user account. You will be unable to use this service until you have activated your user account.
</p>
