@{
    ViewBag.Title = "Privacy policy";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-xl">@ViewBag.Title</h1>
    </header>

    <div class='text'>
        @Html.Partial("~/Views/Shared/_PrivacyPolicy.cshtml")
    </div>
}
