@{
    ViewBag.Title = "Privacy policy";
}

<header class="hgroup">
    <h1 class="govuk-heading-l">@ViewBag.Title</h1>
</header>

<div class='text'>
    @Html.Partial("~/Views/Shared/_PrivacyPolicy.cshtml")
</div>

