@{
    ViewBag.Title = "Terms And Conditions";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="govuk-heading-l">Terms and conditions</h1>
    </header>

    <p>Welcome to our WEEE online service.  </p>
    <p>This Environment Agency online service contains content provided by users of our service who retain all of the copyright in their contributions. Our service is hosted by a third party supplier.</p>
    <p>Our service has been created for the purpose of providing access to web-based transactions and services relating to the WEEE Regulations 2013 (as amended) and to grant electronic access to related data held by the Environment Agency (EA), Scottish Environment Protection Agency (SEPA), Natural Resources Body for Wales (NRW) and in Northern Ireland, the Department of Environment (DOE) in accordance with applicable legal provisions. Our service has been designed with the aim of allowing users of our service to create an account as a user and create an organisation as an operator of a Producer Compliance Scheme (PCS), manage their account users and submit applications to register PCS Members to the PCS’s appropriate authority.</p>

    <h2 class="heading-medium">Terms of online service use</h2>

    <p>
        These terms of use (together with the documents referred to in it) (the "terms of use") tell you the terms on which you may make use of our service.

    </p><p>In these terms of use:</p>
    <ul class="govuk-list--bullet govuk-body">
        <li>"we", "us" and "our" refers together to the Environment Agency</li>
        <li>"you" means the user of the online service, accessing, reading, uploading, inputting and submitting information or otherwise using Our Service</li>
        <li>"appropriate authority" has the meaning given by Regulation 2 of the WEEE Regulations</li>
        <li>"content" means all information and other materials on our service </li>
        <li>"document" means any reproducible artefact, file or printed copy of a document which is made as a result of the use of and information contained within our service which has been contributed by you</li>
        <li>"online service" and "our service" means WEEE online service and is limited to the use of the on-line functionality provided by us to you to create an account as a user, create your organisation as an operator of a PCS, manage your account users and submit applications to register your Members to the appropriate authority. The statutory duties and obligations required by the WEEE Regulations that apply to you or any appropriate authority are not affected by the use of this online service</li>
    </ul>
    <p>Users can create and submit electrical and electronic equipment (EEE) producer registration files in a specified format, download their member’s summary details and view and manage their users who can access their account.</p>
    <p>Users must provide correct and complete information when using the service and update this information when necessary.</p>
    <p>By creating an account users agree to being contacted by email. This includes receiving formal notices and notifications by email.</p>
    <p>Read these terms of use carefully before you start to use our service, as these will apply to your use of our service. </p>
    <p>By using our service, you confirm that you have read, understood and accept these terms of use (in the version made available which may be amended from time to time) and that you agree to comply with them. </p>
    <p>Use of our service includes accessing our service and creating an account.</p>
    <p>You agree not to use the online service in a way that may damage, disable or impair its performance, corrupt or interfere with the content or otherwise reduce the overall functionality of the online service. You also agree not to compromise the security of the online service or attempt to or gain access to secured areas or sensitive information. You agree to be fully responsible for any claim, expense, liability, losses, costs including legal fees incurred by us arising from any infringement of the terms and conditions set out in this agreement. </p>
    <p>If you do not agree to these terms of use, you must not use our service. </p>


    <h2 class="heading-medium">Permitted use</h2>

    <p>We grant you the right to access and use our service. By accessing and using our service you agree that you are working for, or acting on behalf of:</p>
    <ul class="govuk-list--bullet govuk-body">
        <li>an approved producer compliance scheme</li>
        <li>a statutory or regulatory body or an employee or authorised representative of such an organisation</li>
    </ul>
    <p>You shall only access and use our service to:</p>
    <ul class="govuk-list--bullet govuk-body">
        <li>set up a user account</li>
        <li>provide organisational details</li>
        <li>manage other users</li>
        <li>submit your application(s) to register your members in the prescribed format.</li>
    </ul>


    <h2 class="heading-medium">Information about us</h2>

    <p>The Environment Agency is a non-departmental public body whose head office is at Horizon House, Deanery Road, Bristol, BS1 5AH. </p>
    <p>The Environment Agency is an appropriate authority. </p>


    <h2 class="heading-medium">Information about other appropriate authorities</h2>

    <p>DOE is the Department of the Environment in Northern Ireland whose head office is at Goodwood House, 44 - 58 May Street, Town Parks, Belfast, BT1 4NN. </p>
    <p>NRW is the Natural Resources Body for Wales whose head office is at Cambria House, 29 Newport Road, Cardiff, CF24 0TP.</p>
    <p>SEPA is the Scottish Environment Protection Agency whose head office is at Strathallan House, Castle Business Park, Stirling, FK9 4TZ.</p>


    <h2 class="heading-medium">Privacy policy</h2>

    <p>By using our service you agree to bound by our <a href="@Url.Action("Privacy", "NewUser")">privacy policy</a>.</p>


    <h2 class="heading-medium">Changes to these terms</h2>

    <p>We may, in our complete discretion, revise these terms of use and any documents referred to in them at any time. </p>
    <p>Check this page periodically to take notice of any changes we have made, as they are binding on you.  Your use or continued use of this online service will be deemed as acceptance of any changes.</p>


    <h2 class="heading-medium">Changes to our service</h2>

    <p>We may, in our complete discretion, update or change our service from time to time, and may change the content at any time. However, please note that any of the content on our service may be out of date at any given time, and we are under no obligation to update it. </p>
    <p>We endeavour to provide our service in a form that is free from all errors and/or omissions; however, we do not guarantee that our service, or any content on it, will be free from errors and/or omissions. We may need to make changes to our service to correct any such errors and/or omissions. </p>


    <h2 class="heading-medium">Accessing our service</h2>

    <p>Our service is made available free of charge. </p>
    <p>We do not guarantee that our service, or any content on it, will always be available or be uninterrupted. Access to our service is permitted on a temporary basis. We may suspend, withdraw, discontinue or change all or any part of our service without notice. We will not be liable to you if for any reason our service is unavailable at any time or for any period.</p>
    <p>You are responsible for making all arrangements necessary for you to have access to our service. </p>
    <p>You are also responsible for ensuring that all persons who access our service through your internet connection are aware of these terms of use and other applicable terms and conditions, and that they comply with them.</p>


    <h2 class="heading-medium">Testing</h2>

    <p>You may be asked to test our service on a separate bespoke test environment during the ongoing development of the service. During testing you will use the functions available as described in these terms and conditions for the use of the service in the test environment. You may use content of the test environment to create documents.</p>
    <p>These terms of use apply to your use of our test environment during development as if you were a user using our service with the following exceptions:</p>
    <ul class="govuk-list--bullet govuk-body">
        <li>documents created in the test environment cannot be used to fulfil your legal obligations</li>
        <li>any submissions made by you or notifications you may receive during any testing you do in the test environment cannot be made or used to meet your legal obligations</li>
        <li>any submissions made by you or notifications you may receive during any testing you do in the test environment will not be submissions made to or notifications received from the appropriate authority within the meaning of the regulations</li>
        <li>all information entered or submitted by you on the test environment may be deleted by us at any time</li>
    </ul>


    <h2 class="heading-medium">Your account and password</h2>

    <p>If you choose, or you are provided with, a user name or password or any other piece of information as part of our security procedures, you must treat such information as confidential. You must not disclose it to any third party. </p>
    <p>We have the right to disable any user name or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these terms of use.</p>
    <p>If you know or suspect that anyone other than you knows your user identification code or password, you must promptly notify us at <a href="mailto:PRSD_Pro_Res@environment-agency.gov.uk" alt="Email us">PRSD_Pro_Res@environment-agency.gov.uk</a>. It is your responsibility to change your password in these circumstances, and you must do so as soon as possible.</p>
    <p>If you disclose your user name and password to any third party and they breach any terms of this terms of use whilst using your login user name and password to access our service, you will be liable for the breach as if you had committed it yourself.</p>


    <h2 class="heading-medium">Submission of information</h2>

    <p>You are solely responsible for the content of the information you submit to our service. You may not submit any information or content that you did not create or that you do not have permission to submit. By submitting information or making a contribution you warrant and represent that you own or have the necessary permissions to use it on our service in accordance with the terms of use. </p>
    <p>All information submitted to our service must be accurate. </p>
    <p>Any activity performed by you on our service such as the entry of information, and any other submission or activity pursuant to meeting the requirements and obligations required by the WEEE Regulations made on our service shall be deemed to be made, submitted or provided to the appropriate authority.</p>
    <p>Any notification or notice you may receive via our service in relation to the obligations and duties of appropriate authorities shall be deemed to have been issued, provided or made by the appropriate authority.</p>
    <p>Although the relevant appropriate authority will review all information submitted by you, you always remain responsible for the content of the information that you have provided.  The appropriate authorities accept no responsibility for the quality or accuracy of any information that you submit to them.</p>
    <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our service; any transmission is at your own risk.</p>
    <p>All information submitted to our service must comply with these terms of use.</p>

    <h2 class="heading-medium">Cookies</h2>

    <p>As part of GOV.UK, this online service uses cookies. For more information about cookies and examples of cookies which may be used on our service, view our <a href="@Url.Action("Cookies", "NewUser")">cookies policy</a>. By continuing to use our service, you are agreeing to the use of cookies.</p>
    <p>If you use your browser settings to block all cookies, including essential cookies, some or all of our service may not work properly.</p>

    <h2 class="heading-medium">Intellectual property rights and confidentiality</h2>

    <p>You own the copyright in any contribution that you make and any document created as a result of that contribution. You grant the relevant appropriate authority a worldwide, royalty-free, perpetual nonexclusive license to use any such documents created by you to process your application and for any other regulatory/statutory purposes.</p>
    <p>To the extent that the appropriate authorities own any intellectual property rights in the documents created by you, the appropriate authorities grant you a worldwide, royalty-free, perpetual nonexclusive license to use any such documents created by you.</p>
    <p>This license does not apply to any content on our service other than the documents created by you. If you want to use any other content then you must seek separate permission from us.</p>
    <p>The appropriate authorities may exercise all copyright and publicity rights in the material contained in any anonymised version of the information submitted in all jurisdictions, to their full extent and for the full period for which any such rights exist in that material.</p>
    <p>Any sub licence issued by us of any anonymised versions of information submitted by you shall be for full and unrestricted non-commercial use rights and commercial rights on condition that all rights of the original contributor are upheld. </p>
    <p>Subject to the above, we, the Environment Agency, are the owner or the licensee of all intellectual property rights in our service, and in any material published by users on it. </p>
    <p>You may print off or download documents created by you.</p>
    <p>Our status (and that of any identified contributors), as the authors of content on our service, must always be acknowledged. </p>
    <p>Other than the documents created by you, you must not use any part of the content on Our Service for commercial purposes without obtaining a licence to do so from us.</p>
    <p>If you print off, copy or download any part of our service in breach of these terms of use, your right to use our service will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>

    <h2 class="heading-medium">No reliance of information</h2>
    <p>The content on our service is provided for general information only. It is not intended to amount to advice on which you should rely. You must obtain professional or specialist advice before taking, or refraining from, any action on the basis of the content on our service.</p>
    <p>Although we make reasonable efforts to update the information on our service, we make no representations, warranties or guarantees, whether express or implied, that the content on our service is accurate, complete or up-to-date. </p>

    <h2 class="heading-medium">Limitation of our liability</h2>
    <p>Where information on our service has been contributed by a user in accordance with these terms and conditions, that user is responsible for the content of its submission. </p>
    <p>Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by English law.</p>
    <p>To the extent permitted by law, we exclude all conditions, warranties, representations or other terms which may apply to our service or any content on it, whether express or implied. </p>
    <p>You are solely responsible for the content of any contributions you make to our service. We do not and cannot give any warranties, reassurances or approval of the accuracy or veracity of contributions made by you or other users of our service.  We assume no responsibility for any content provided by you or any other users or guests of our service.  </p>
    <p>We will not be liable to any user for any loss or damage, whether in contract, tort (including negligence), breach of statutory duty, or otherwise, even if foreseeable, arising under or in connection with:</p>
    <ul class="govuk-list--bullet govuk-body">
        <li>use of, or inability to use, our service</li>
        <li>use of or reliance on any content displayed on our service (including, but not limited to, any errors or omissions in the content)</li>
    </ul>
    <p>Specifically, we will not be liable for:</p>
    <ul class="govuk-list--bullet govuk-body">
        <li>loss of profits, sales, business, or revenue</li>
        <li>business interruption</li>
        <li>loss of anticipated savings</li>
        <li>loss of business opportunity, goodwill, reputation, profits or business interruption</li>
        <li>any indirect or consequential loss or damage</li>
    </ul>
    <p>We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our service or to your downloading of any content on it, or on any website linked to it.</p>
    <h2 class="heading-medium">Breaches of these terms of use</h2>
    <p>We will determine, in our discretion, whether there has been a breach of these terms of use.  When a breach of these terms of use has occurred, we may take such action as we deem appropriate.</p>
    <p>Failure to comply with the terms of use may result in our taking all or any of the following actions:</p>
    <ul class="govuk-list--bullet govuk-body">
        <li>immediate, temporary or permanent withdrawal of your right to use our service</li>
        <li>immediate, temporary or permanent removal of any document or other material submitted by you to our service</li>
        <li>issue of a warning to you</li>
        <li>legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach</li>
        <li>further legal action against you</li>
        <li>disclosure of such information to law enforcement authorities as we reasonably feel is necessary</li>
    </ul>
    <p>We exclude liability for actions taken in response to breaches of these terms of use.  The responses described in these terms of use are not limited, and we may take any other action we reasonably deem appropriate.</p>
    <h2 class="heading-medium">Viruses</h2>
    <p>We do not guarantee that our service will be secure or free from bugs or viruses.</p>
    <p>You are responsible for configuring your information technology, computer programmes and platform in order to access our service. You should use your own virus protection software.</p>
    <p>You must not misuse our service by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our service, the server on which our service is stored or any server, computer or database connected to our service. You must not attack our service via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our service will cease immediately.</p>
    <h2 class="heading-medium">Prohibited uses</h2>
    <p>You may use our service only for lawful purposes. You may not use our service or submit any information which:</p>
    <ul class="govuk-list--bullet govuk-body">
        <li>in any way that breaches any applicable local, national or international law</li>
        <li>in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect</li>
        <li>impersonates any person, or misrepresents your identity or affiliation with any person</li>
        <li>is made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence</li>
        <li>promotes any illegal activity</li>
        <li>Knowingly transmits any data, sends or uploads any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware</li>
    </ul>
    <p>You also agree:</p>
    <ul class="govuk-list--bullet govuk-body">
        <li>not to reproduce, duplicate, copy or re-sell any part of our service in contravention of the provisions of these terms of use</li>
        <li>not to access without authority, interfere with, damage or disrupt:</li>
        <ul class="govuk-list--bullet govuk-body">
            <li>any part of our service</li>
            <li>any equipment or network on which our service is stored</li>
            <li>any software used in the provision of our service</li>
            <li>any equipment or network or software owned or used by any third party</li>
        </ul>
    </ul>

    <h2 class="heading-medium">Third party links and resources in our service</h2>
    <p>Where our service contains links to other sites and resources provided by third parties, these links are provided for your information only. The inclusion of a link to another site does not imply endorsement by us of the site or any association with its operators.</p>
    <p>We have no control over the contents of those sites or resources and we are not responsible for the content of any linked sites.</p>
    <p>We will not be liable for any loss or damage that may arise from your use of any linked sites.</p>
    <h2 class="heading-medium">Linking to our service</h2>
    <p>You may link to our online service, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it.</p>
    <p>You must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists.</p>
    <p>You must not establish a link to our service in any website that is not owned by you.</p>
    <p>Our service must not be framed on any other site, nor may you create a link to any part of our service other than the home page.</p>
    <p>We reserve the right to withdraw linking permission without notice.</p>
    <p>The website in which you are linking must comply in all respects with these terms of use.</p>
    <p>To make any use of content on our service other than that set out above, contact: <a href="mailto:PRSD_Pro_Res@environment-agency.gov.uk" alt="Email us">PRSD_Pro_Res@environment-agency.gov.uk</a>.</p>
    <h2 class="heading-medium">Applicable law</h2>
    <p>These terms of use, its subject matter and its formation, are governed by English law. All rights, obligations and remedies contained in these terms of use are governed by English law.  Any contractual or non-contractual disputes regarding such matters or regarding our service are governed by English law and we and you both agree to the exclusive jurisdiction of the courts of England and Wales.</p>
    <h2 class="heading-medium">Logos and trademarks</h2>
    <p>You cannot use the logos or other registered trademarks on our service without formal permission from us or the owner of that logo.</p>
    <h2 class="heading-medium">Contact us</h2>
    <p>To contact us or complain about the content of our service, email <a href="mailto:PRSD_Pro_Res@environment-agency.gov.uk" alt="Email us">PRSD_Pro_Res@environment-agency.gov.uk</a>.</p>
    <p>We will inform you of the outcome of our review of any complaint made by you within a reasonable time after receiving your complaint.</p>
}

