<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Activate your user account</title>
</head>

<body style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; margin: 0; color: #0b0c0c">
<table width="100%" cellpadding="15" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="55px" bgcolor="#0b0c0c">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="100%" bgcolor="#0b0c0c" valign="middle">
                        <img src="cid:logo" alt="GOV.UK">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<h1 class="email" style="font-weight: 700; font-size: 36px; line-height: 1.041666667; margin: 30px 0;">
    Activate your user account
</h1>
<p>Hello,</p>
<p>Your user account has been created on the Waste Electrical and Electronic Equipment (WEEE) service.</p>
<p>
    To use this service you need to <a href="@Model.ActivationUrl">activate your account.</a>
</p>
<p>If you didn’t create a user account you don’t need to take any action.</p>
<p>This is an automated email; do not reply.</p>
<p>If you have any enquiries, contact your relevant helpline:</p>
    <ul>
        <li><span>Environment Agency (England): 03708 506506</span></li>
        <li><span>Scottish Environment Protection Agency: 01786 457700</span></li>
        <li><span>Northern Ireland Environment Agency: 02 890 569338</span></li>
        <li><span>Natural Resources Wales: 03000 65 3096</span></li>
    </ul>
<p>Regards,</p>
<p>WEEE Team</p>
</body>
</html>