<html>

<body style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; margin: 0; color: #0b0c0c">
    <table width="100%" cellpadding="15" cellspacing="0" border="0">
        <tr>
            <td width="100%" height="55px" bgcolor="#0b0c0c">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="100%" bgcolor="#0b0c0c" valign="middle">
                            <img src="cid:logo" alt="GOV.UK">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p>Hello,</p>
    <p>@Model.SchemeName has submitted the following:</p>
    <p><b>New data return file</b></p>
    Compliance year: @Model.ComplianceYear<br>
    Quarter: @Model.Quarter<br>
    Resubmission: @(Model.IsResubmission? "Yes" : "No")
    <p>This is an automated email; do not reply.</p>
</body>
</html>