@using System.Collections.Generic
@using EA.Weee.Core.Organisations
@model IEnumerable<OrganisationUserData>

@if (Model.Any())
{
<div class="related-section">
    <h2 class="related-section-title">
        Status of your request to access an organisation(s):
    </h2>
    <div class="govuk-form-group">
        <table class="govuk-table" title="This table lists the organisation you have applied to perform activities for.">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (OrganisationUserData item in Model)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span>@item.Organisation.OrganisationName</span><br/>
                            <span style="color:#6F777B;">- @item.UserStatus</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}