@using EA.Weee.Core.Organisations
@model EA.Weee.Web.ViewModels.Organisation.PendingOrganisationsViewModel
@{
    ViewBag.Title = "Organisations pending";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">
            Organisations you have applied to perform activities for:
        </h1>
    </header>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <table>
                <thead>
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (OrganisationUserData item in Model.InaccessibleOrganisations)
                {
                    <tr>
                        <td>
                            <span>@item.Organisation.OrganisationName</span>
                            <span style="color:#6F777B;">- @item.UserStatus</span>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <a href="@Url.Action("Type", "OrganisationRegistration")">Create or join another organisation</a>
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="Sign out" />
        </div>
    }
}
