@using EA.Weee.Core.Organisations
@model EA.Weee.Web.ViewModels.Organisation.PendingOrganisationsViewModel
@{
    ViewBag.Title = "Organisations pending";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">
            Organisations you have applied to perform activities for:
        </h1>
    </header>

    <table title="This table lists the organisation you have applied to perform activities for.">
        <thead>
            <tr>
                <th>Organisation name</th>
                <th>Your account status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (OrganisationUserData item in Model.InaccessibleOrganisations)
            {
                <tr>
                    <td>@item.Organisation.OrganisationName</td>
                    <td>@item.UserStatus</td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        If your account status is incorrect, contact your organisation's administrator.
    </p>
        
    <p>
        <a href="@Url.Action("Type", "OrganisationRegistration")">Create or join another organisation</a>
    </p>

    @using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input type="submit" class="button" value="Sign out" />
        </div>
    }
}
