@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.AatfEvidence
@using EA.Weee.Web.RazorHelpers
@using EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes
@using EA.Weee.Web.Extensions
@using EA.Weee.Web.Infrastructure

@model EA.Weee.Web.Areas.Scheme.ViewModels.ManageEvidenceNotes.ReviewSubmittedManageEvidenceNotesSchemeViewModel

@section full_main_content
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            @Html.Partial("_ManageEvidenceNotesHeaderAndTabs", Model)

            @Html.Partial("~/Areas/Scheme/Views/ManageTransferNotes/_ReviewSubmittedTransferEvidencePartial.cshtml", Model)
        </div>
    </div>
}