@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.AddOrAmendMembersViewModel
@{
    ViewBag.Title = "Manage Members";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">
            Register or update member details
        </h1>
    </header>

    <p class="form-hint">To register or update your members' details, upload and submit an xml file</p>
    <p class="bold-small">
        <img src="~/Content/govuk_toolkit/images/icon-important.png" alt="important" class="important-image" />Your XML file must use the version 3.06 Schema
    </p>
    <hr />

    <script type="text/javascript">
        function disableSubmitButton() {

            $("#submitButton")
                .prop('disabled', true)
                .prop('value', 'Uploading...');

            setTimeout(function () {
                $("#processingTimeMessage")
                    .fadeIn("slow");
            }, 5000);

            return true;
        }
    </script>


    @using (Html.BeginForm("AddOrAmendMembers", "MemberRegistration", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return disableSubmitButton()" }))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <div id="file-upload-group" class="form-group @Html.Gds().FormGroupClass(m => m.File)">
            <input type="file" name="file" id="file" accept=".xml"/>
        </div>

        <div class="form-group">
            <input id="submitButton" type="submit" value="Upload" class="button" aria-live="off"/>
        </div>
    }

    <p class="bold-small" style="display:none;" id="processingTimeMessage" aria-live="polite">
        <img src="~/Content/weee/images/spinner.gif" alt="Spinning graphic" class="important-image" />
        Uploading your file may take a few minutes
    </p>
}