@using EA.Weee.Core.Shared
@model EA.Weee.Web.Areas.Scheme.ViewModels.AuthorizationRequiredViewModel
@{
    ViewBag.Title = "Authorisation Required";
}

@section main_content {

    @switch (Model.Status)
    {
        case SchemeStatus.Pending:
            <div class="form-group">
                <header class="hgroup">
                    <div>
                        <h1 class="heading-large">Your PCS is awaiting authorisation</h1>
                    </div>
                </header>
                <hr />
                <p>PCS authorisation - Pending</p>
                <p class="form-hint">Once your organisation's request to perform activities as a PCS is authorised, you will be able to manage members here.</p>
                <hr />
            </div>
            break;

        case SchemeStatus.Rejected:
        <div class="form-group">
            <header class="hgroup">
                <div>
                    <h1 class="heading-large">Your PCS's authorisation has been rejected</h1>
                </div>
            </header>
            <hr />
            <p>PCS authorisation - Rejected</p>
            <p class="form-hint">Unfortunately, your organisation's request to perform activities as a PCS has been rejected. Please contact your authorising authority for more information.</p>
            <hr />
        </div>
            break;
    }

    <p>
        @Html.ActionLink("Perform another activity", "ChooseActivity", "Home", new { @area = "Scheme" }, new { @class = "button" })
    </p>
    @if (Model.ShowLinkToSelectOrganisation)
    {
        <div class="form-group">
            <a href="@Url.RouteUrl("SelectOrganisation")">Select another organisation</a>
        </div>
    }
}
