@using EA.Weee.Web.Areas.Scheme.Controllers
@using EA.Weee.Web.RazorHelpers
@using MvcNavigationHelpers
@model EA.Weee.Web.Areas.Scheme.ViewModels.SummaryViewModel
@{
    ViewBag.Title = "Summary";
}

@section main_content {
    <header class="hgroup">
        <div>
            <h1 class="govuk-heading-l">Manage PCS members</h1>
        </div>
    </header>

    <div>
        <h2 class="heading-medium">Files available for download</h2>
    </div>
    <div class="govuk-form-group">
        @if (Model.Years.Any())
        {
            <ul>
                @foreach (int complianceYear in Model.Years)
                {
                    var csvFileName = "Overview of current members for " + complianceYear + " (CSV, less than 500KB)";
                    <li>
                        @(this.WeeeGds().ActionLinkWithEventTracking(csvFileName,
                            Url.UrlFor<MemberRegistrationController>(c => c.GetProducerCSV(Model.PcsId, complianceYear)),
                                "Downloads",
                                "Overview of current members",
                                "Compliance year: " + complianceYear))
                    </li>
                }
            </ul>
        }
        else
        {
            <p>You have not yet registered any members.</p>
        }
    </div>

    <p>
        @Html.ActionLink("Upload member details", "AddOrAmendMembers", "MemberRegistration", new { @area = "Scheme" }, new { @class = "govuk-button" })
    </p>

    <p>
        @Html.ActionLink("Perform another activity", "ChooseActivity", "Home")
    </p>
}
