@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@using EA.Weee.Core.Helpers
@model System.Collections.Generic.List<System.Int32>
@{
    ViewBag.Title = "Summary";
}

@section main_content {
    <header class="hgroup">
        <div>
            <h1 class="heading-large">Would you like to view, add or amend PCS members?</h1>
        </div>
    </header>

    <div>
        <h2 class="bold-small">Files available for download</h2>
    </div>
    <hr/>
    <div class="form-group">
        @foreach (int complianceYear in Model)
        {
            var csvFileName = "Overview of current members " + complianceYear + ".csv";
            <a href="@Url.Action("GetProducerCSV", "MemberRegistration", new { complianceYear })">@(csvFileName)</a><span style="color: #6f777b"> (less than 500KB).</span>
            <br/>
        }
    </div>

    <div>
        @Html.ActionLink("Add or amend", "AddOrAmendMembers", "MemberRegistration", new { @area = "Scheme" }, new { @class = "button" })
    </div>

    <div>
        @Html.ActionLink("Perform another activity", "ChooseActivity", "Home")
    </div>
}
