@using EA.Weee.Core.Shared
@model EA.Weee.Web.Areas.Scheme.ViewModels.MemberUploadResultViewModel
@{
    ViewBag.Title = "View errors and warnings";
}

@section main_content {

    <header class="hgroup">
        <div>
            @{ int numOfErrors = @Model.ErrorData.Count(e => e.ErrorLevel == ErrorLevel.Error || e.ErrorLevel == ErrorLevel.Fatal); }
            <h1 class="heading-large">The XML file contains @numOfErrors error(s)</h1>
        </div>
    </header>

    <p>Errors are problems with the XML file structure and formatting that stop it being uploaded successfully.</p>
    <p>You must review, amend and re-upload your file before you can proceed to the next step.</p>

    <details>
        <summary class="error-details-summary bold-small">
            @numOfErrors Error(s)
        </summary>
        <div class="error-list-container">
            <ul>
                @foreach (var uploadError in Model.ErrorData)
                {
                    if (uploadError.ErrorLevel == ErrorLevel.Error || uploadError.ErrorLevel == ErrorLevel.Fatal)
                    {
                        <li class="error-list-item font-xsmall">@uploadError.Description</li>
                    }
                }
            </ul>
        </div>
    </details>
    <br />
    @Html.ActionLink("Download the errors", "DownloadErrorsAndWarnings", new { Model.MemberUploadId })
    <br />
    <p>Go back and <a href="@Url.Action("AddOrAmendMembers", "MemberRegistration")">upload a new file</a></p>
}
