@using EA.Prsd.Core.Web.Mvc.RazorHelpers
@model EA.Weee.Web.ViewModels.Shared.ManageEvidenceNoteViewModel

@{
    var addClearLink = ViewData["addClearLink"] as bool?;
    var clearRouteValues = ViewData["clearRouteValues"];
}
<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.FilterViewModel.SearchRef)">
    @Html.Gds().LabelFor(m => m.FilterViewModel.SearchRef, new { @class = "govuk-label--s" }, false)
    @Html.Gds().TextBoxFor(m => m.FilterViewModel.SearchRef, new { type = "search" })
    <button class="govuk-button weee-search-button"><span class="fa fa-search" aria-hidden="true" title="search by reference"></span><span class="sr-only">Search by reference number</span></button>
    
    @if (addClearLink == true)
    {
        <span class="govuk-!-padding-left-3">
            @Html.ActionLink("Clear filter", "Index", "ManageEvidenceNotes",
                clearRouteValues, new { @class = "link-submit govuk-link govuk-link--no-visited-state", @id = "clear-filter" })
        </span>
    }
</div>