@using EA.Weee.Core.DataStandards
@using EA.Weee.Web.Areas.Aatf.ViewModels
@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Shared.ManageEvidenceNoteViewModel

<div class="govuk-form-group @Html.Gds().FormGroupClass(m => m.FilterViewModel.SearchRef)">
    @Html.Gds().LabelFor(m => m.FilterViewModel.SearchRef, new { @class = "govuk-label--s" }, false)
    @Html.Gds().TextBoxFor(m => m.FilterViewModel.SearchRef, new { type = "search" })
    <button class="govuk-button"><span class="fa fa-search" aria-hidden="true" title="search by reference"></span><span class="sr-only">Search by reference number</span></button>
</div>