@import "../govuk_frontend/components/button/_button";

$govuk-button-colour: #00823b;
$button-shadow-size: $govuk-border-width-form-element;
$govuk-button-text-colour: govuk-colour("white");
$govuk-button-shadow-colour: darken($govuk-button-colour, 15%);

.govuk-cookie-button {
    @include govuk-font($size: 14, $line-height: 14px);
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-top: 0;
    @include govuk-responsive-margin(6, "bottom", $adjustment: $button-shadow-size); // s2
    padding: (govuk-spacing(2) - $govuk-border-width-form-element - ($button-shadow-size / 2)) govuk-spacing(2); // s1
    border: $govuk-border-width-form-element solid transparent;
    border-radius: 0;
    color: $govuk-button-text-colour;
    background-color: $govuk-button-colour;
    box-shadow: 0 $button-shadow-size 0 $govuk-button-shadow-colour; // s0
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
    margin-bottom: 0px !important;
}