@import "../govuk_frontend/helpers/colour";


.colored-header-bar {
    width: 100%;
    margin: 0 0;
    height: 10px;
    background-color: govuk-colour("blue");
    margin-bottom: 16px;
}

#orange {
    background-color: govuk-colour("orange");
}

#turquoise {
    background-color: govuk-colour("turquoise");
}

.section-bottom {
    margin-top: 30px;
}

.formatted-block-table-header {
    border: none;
    font-weight: normal;
    text-decoration: underline;
    font-size: 16px;
    color: govuk-colour("dark-grey");
    margin-right: 5px;
}

.formatted-block-table-header:last-child {
    margin-right: 0;
}

.formatted-block-table-cell {
    background-color: #C9E7E5;
    height: 61px;
    margin-right: 25px;
    line-height: 61px;
    padding-left: 10px;
}

.formatted-block-table-body td {
    border: none;
    font-size: 19px;
    width: 33%;
}

.formatted-block-table-body td {
    padding-right: 0;
}

.formatted-block-table-body td:last-child .formatted-block-table-cell {
    margin-right: 0;
    background: none;
}

.formatted-block-table-body td:first-child .formatted-block-table-cell {
    border-left: 10px solid govuk-colour('turquoise');
    font-weight: bold;
}

@media all and (max-width: 700px) {
    .formatted-block-table-cell {
        line-height: 30px;
        font-size: 12px;
    }
}
h2 + hr{
    margin-top: -10px;
    margin-bottom: 25px;
}

hr.grey {
    background-color: govuk-colour('mid-grey');
    border: 0 none;
    color: govuk-colour('mid-grey');
    height: 1px;
}

.dcf-section {
    border-left: 5px solid rgb(191, 193, 195);
    padding-left: 10px;
    margin-left: 40px;
}

.dcf-section-error {
    border-left: 5px solid #b10e1e;
}

.prsd-table-fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}
