@import "../govuk_frontend/package/helpers/colour";

.input-validation-error {   
}

.form-group-error {
    border-left: 3px solid $govuk-error-colour;
    padding: 10px 0 10px 10px;
    background-color: #FEF7F7;
}

.field-validation-error {
    color: $govuk-error-colour;
    margin-bottom: 5px;
    font-weight: bold;
}

.validation-summary {
    background-color: #FEF7F7;

    ul li {
        margin-bottom: 7px;
    }
}

#weee-data-entry-table {
    .govuk-form-group--error {
        float: right;
    }

    .error {
        margin-left: 3ex;
    }
}

@media only screen and (max-width: 999px) {
    #weee-data-entry-table {
        .error {
            margin-left: 2ex;
        }
    }
}

@media only screen and (max-width: 959px){
    #weee-data-entry-table {
        .error {
            margin-left: 1ex;
        }
    }
}