#footer .footer_agencies {

    @include govuk-media-query(desktop) {
        padding-left: 0px;
        padding-right: 0px;
    }

    @include govuk-media-query(640px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}