/* Pager */
.pager
{
	margin: 8px 0px;
	padding: 3px;
	padding-right: 0;
    float: right;
}

.pager .disabled
{
	color: #999;
	margin-top: 4px;
	padding: 3px;
 	text-align: right;
}

.pager .current
{
    color:#333333;			
	margin-top: 4px;
	padding: 3px 5px;
 	text-align: right;
}

.pager span, .pager a
{
	margin: 4px 3px;
}

.pager span:last-of-type{
	margin-right: 0;
	padding-right: 0;
}
.pager a
{	    
	padding: 3px 5px;
    text-align: right;	
    color: #005EA5;
	text-decoration: underline;      
}

.pager a:last-of-type {
	margin-right: 0;
	padding-right: 0;
}