@import "../govuk_frontend/package/helpers/media-queries";

.gov-uk-no-bottom-border {
    border-bottom: none;
}

.prsd-table {
    background: govuk-colour('white');
    position: relative;

    thead {
        th {
            background: govuk-colour('grey-3');
            padding-left: 15px;
            border: 5px solid govuk-colour('white');
        }

        tr {
            position: relative;
        }
    }

    tbody {
        td {
            background: govuk-colour('grey-4');
            padding-left: 15px;
            border-bottom: none;
            border: 3px solid govuk-colour('white');

            &:last-child {
                text-align: center;
            }
        }

        label {
            position: absolute;
            left: 0;
            width: 100%;
            padding: 5px 0 10px 0;
            margin-top: -10px;
            text-indent: -10000px;

            input {
                text-align: right;
            }
        }
    }
}

.hover-effect {
    tbody {
        tr {
            &:hover {
                td {
                    background: govuk-colour('white');
                    cursor: default;
                }
            }
        }
    }
}

.prsd-table-collapse tr {
}

@media screen and (max-width:360px) {
    .prsd-table-collapse tr {
        display: block;
    }

    .govuk-table__cell {
        padding: 2px;
    }
}

#weee-data-entry-table * {
    padding-left: 0;
    padding-right: 0;
}

.weee-tonnage-right-aligned-display {
    text-align: right;
    padding-left: 1em !important;
    word-break: break-all;
}

.weee-tonnage-center-aligned-display {
    text-align: center;
    padding-left: 1em !important;
    word-break: break-all;
}

.weee-tonnage-column-padding-left {
    padding-left: 1em !important;
}

.weee-tonnage-top-aligned-display {
    padding-top: 20px;
}