@{
    ViewBag.Title = "Applicant - Home Page";
}
<h1 class="heading-large">Your notifications</h1>

<h2 class="heading-medium">Start a new notification?</h2>
<p id="get-started" class="get-started group">
    @Html.ActionLink("Start", "CompetentAuthority", "NotificationApplication", null, new { @class = "button" })
</p>

<div class="spacer"></div>

<h2 class="heading-medium">Manage your notifications</h2>
<div class="colored-header-bar" id="turquoise"></div>
@Html.Action(actionName: "_GetUserNotifications", controllerName: "NotificationApplication", routeValues: new { })
<hr class="section-bottom"/>
