@model EA.Weee.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Index";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">Manage Your Waste Electrical and Electronic Equipment Account</h1>
    </header>

    <div>
        <p>Report your activities relating to the WEEE regime.</p>
    </div>

    <div>
        <p>Use this service to:</p>
        <ul class="list-bullet">
            <li>Create your organisation within the WEEE regime.</li>
            <li>Manage members of your Producer Compliance Scheme.</li>
        </ul>
    </div>

    <p id="get-started" class="get-started group">
        @Html.ActionLink("Start now", "LandingPage", "Home", null, new { @class = "button-get-started button" })
    </p>
}