@using EA.Weee.Web.RazorHelpers
@model EA.Weee.Web.ViewModels.Home.LandingPageViewModel
@{
    ViewBag.Title = "Landing Page";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">Do you already have a personal user account?</h1>
    </header>

    @using (Html.BeginForm(actionName: "LandingPage", controllerName: "Home", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()

        <div style="margin-bottom: 1.66667em;">
            <p>To access the WEEE service, you need your own personal user account. Choose "no" if you're not sure whether you need this account, or whether you have already created one.</p>
        </div>

        <div class="form-group @Html.Gds().FormGroupClass(m => m.SelectedValue)">
            @Html.WeeeGds().RadioButtonsFor(m => m.SelectedValue, Model.PossibleValues, "Do you already have a personal user account?", true)
        </div>
        <div class="form-group">
            <button class="button" type="submit">Continue</button>
        </div>
    }
}