@model EA.Weee.Web.ViewModels.Shared.YesNoChoiceViewModel
@{
    ViewBag.Title = "Landing Page";
}

@section main_content
{
    <header class="hgroup">
        <h1 class="heading-large">Do you already have a user account?</h1>
    </header>

    <p class="form-hint">Choose "no" if you're not sure whether you need an account, or whether you have already created one.</p>

    @using (Html.BeginForm(actionName: "LandingPage", controllerName: "Home", method: FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group @Html.Gds().FormGroupClass(m => m.Choices.SelectedValue)">
            @Html.EditorFor(m => m.Choices)
        </div>
        <div class="form-group">
            <button class="button" type="submit">Continue</button>
        </div>
    }
}