@{
    ViewBag.Title = "Landing Page";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <header class="hgroup">
            <h1 class="heading-large">Register for WEEE</h1>
            <p>Register or sign in to report your activities relating to the WEEE regime.</p>
            <p class="heading-large"></p>
        </header>
        @Html.ActionLink("Create User", "CheckUserAccountCreation", "NewUser", null, new { @class = "button-get-started button" })
    </div>
    <div class="column-third">
        <h1 class="heading-medium">Your account</h1>
        <div class="colored-header-bar"></div>
        @Html.ActionLink("Sign in to your account", "Login", "Account")
    </div>
</div>
