<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CuttingEdge.Conditions" version="1.2.0.0" targetFramework="net48" />
  <package id="Faker.Net" version="2.0.154" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
  <package id="StyleCop.Error.MSBuild" version="1.0.0" targetFramework="net48" />
  <package id="StyleCop.MSBuild" version="6.2.0" targetFramework="net48" developmentDependency="true" />
</packages>