@using EA.Weee.Web.Infrastructure
@model EA.Weee.Web.Areas.AatfReturn.ViewModels.NonObligatedValuesCopyPasteViewModel

@{
    ViewBag.Title = "Copy and Paste Non-Obligated WEEE";
}

<section id="main-content">
    <header class="hgroup">
        <div>
            <h1 id="data-entry-label" class="govuk-heading-l">Non-obligated WEEE</h1>
        </div>
    </header>
    <p class="govuk-body">
        Provide tonnage to 3 decimal places for 14 categories. For example 1.238
    </p>
    <p class="govuk-body">
        You can copy the WEEE in tonnes from an Excel spreadsheet.
    </p>
    <p class="govuk-body">
        Data entered here will be interpreted as category 1 at the top through to category 14 at the bottom.
    </p>
    @using (Html.BeginRouteForm(AatfRedirect.Default, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.Gds().ValidationSummary()
        @Html.HiddenFor(m => m.OrganisationId)
        @Html.HiddenFor(m => m.Dcf)

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <textarea class="govuk-textarea govuk-!-width-three-quarters" placeholder="Paste non-obligated values here" id="PastedValues" name="PastedValues" style="height: 400px;" aria-labelledby="data-entry-label"></textarea>
            </div>
        </div>

        <form method="post" class="form" style="display: inline">
            <button type="submit" class="govuk-button" id="aatf-task-list">
                Save and continue
            </button>

            <button type="submit" name="cancel" value="cancel" class="govuk-button grey-cancel-button">
                Cancel
            </button>
        </form>
    }
</section>
